=content_for :page_title do
  Inquiries

.container
  .row
    .col-md-6
      =render_status_nav(Inquiry::STATUSES){|h| admin_inquiries_path h}
      %table#inquiries-table.table.table-striped
        %tr
          %th Name
          %th Email
          %th Received
        -@inquiries.each do |inquiry|
          %tr
            %td= link_to inquiry.full_name, admin_inquiry_path(inquiry)
            %td= email_link inquiry
            %td= format_date_time(inquiry.created_at)
      =will_paginate @inquiries, renderer: BootstrapPagination::Rails
