=content_for :page_title do
  Edit bio

.container.container-default
  .row
    .col-md-6
      =form_for(@bio) do |f|
        =render 'form_fields', f: f, bio: @bio
    .col-md-6
      =render 'hint'
