=content_for :page_title do
  New bio

.container.default-container
  .row
    .col-md-6
      =form_for([@author, @bio]) do |f|
        .from-group{ :class => form_group_class(@bio, :text) }
          =f.label :text, class: 'control-label'
          =f.text_area :text, class: 'form-control extra-bottom', autofocus: true, rows: 5
          =help_blocks @bio, :text
        .form-group
          %label{ :class => 'control-label' } Photo
          %input{ :type => 'text', :readonly => 'true', :placeholder => 'Not ready yet', :class => 'form-control' }
        -@bio.links.each do |link|
          - link_name = "bio[links_attributes][]"
          .form-group{ :class => form_group_class(link, :url) }
            =hidden_field_tag "#{link_name}[site]", link.site
            =label_tag "#{link_name}[url]", Link.site_label(link.site), class: 'control-label'
            =text_field_tag "#{link_name}[url]", link.url, class: 'form-control', value: link.url
            =help_blocks link, :url
        .form-group
          =f.submit 'Submit', class: 'btn btn-primary'
