=content_for :page_title do
  Bio

.container.container-default
  .row
    .col-md-12
      -if can?(:update, @bio) && @bio.pending?
        .alert.alert-info
          This bio is under review. We will review it as soon as we can.
      %h1= @bio.author.full_name
  .row
    .col-md-5
      -if @bio.photo_id.present?
        %img{ src: image_path(@bio.photo_id), class: 'img-rounded img-responsive' }

      -if @bio.usable_links.any?
        %h1 Social Links
        -@bio.usable_links.each do |link|
          =link_to link.url, target: '_blank' do
            =image_tag "social/#{link.site}.png", class: 'img-circle'
    .col-md-5
      -if @bio.approved?
        = @bio.text.html_safe
      -else
        %p= @bio.text

      -if can? :update, @bio
        %p=link_to 'Edit', edit_bio_path(@bio), class: 'btn btn-default'
    -if administrator_signed_in?
      .col-md-2.btn-stack
        =render 'shared/approval_buttons', resource: @bio
  .row
    .col-md-6
      -if can? :index, Bio
        =link_to 'Back', bios_path, class: 'btn btn-primary'
      -else
        =link_to 'Back', browse_authors_path, class: 'btn btn-primary'
