Bio submitted

=@bio.author.full_name
has submitted a bio, which now needs to be reviewed.

There are currently
=Bio.pending.count
=pluralize(Bio.pending.count, 'bio')
waiting to be approved.

Follow the link below to review them
=bios_url
