%h1 Book edited

%p
  =@book.author.full_name
  has edited an approved book, #{h =@book.title}, which now needs to be reviewed again.

%p
  There are currently
  =pluralize(BookVersion.pending.count, 'book')
  waiting to be approved.

%p
  =link_to 'Click here', books_url
  to review them.
