Book edited
:plain

#{h @book_version.book.author.full_name} has submitted an approved book, #{h @book_version.title}, which now needs to be reviewed again.
:plain

There are currently #{h pluralize(BookVersion.pending.count, 'book')} waiting to be approved.
:plain

Follow the link below to review them
=books_url
