=content_for :page_title do
  Subscribers

.container.container-default
  .row
    .col-md-6
      %p
        =link_to 'Download', admin_subscribers_path(format: :csv), class: 'btn btn-default', title: 'Click here to download all of the scribers in a spreadsheet-compatible format.'
      %table#subscriber-table.table.table-striped
        %tr
          %th First name
          %th Last name
          %th Email
        -@subscribers.each do |subscriber|
          %tr
            %td= subscriber.first_name
            %td= subscriber.last_name
            %td= link_to subscriber.email, "mailto:#{subscriber.email}"
      =will_paginate @subscribers, renderer: BootstrapPagination::Rails
