=content_for :page_title do
  -if author_signed_in? && current_author.id == params[:author_id].to_i
    My books
  -else
    Books

.container.container-default
  .row
    .col-md-6
      =render_navigation context: :admin, level: 2
      %table#books-table.table.table-striped
        %tr
          %th Title
          %th Author
          %th.text-right Date submitted
        -@books.each do |book|
          %tr
            %td= link_to book.administrative_title, admin_book_path(book)
            %td= book.author.full_name
            %td.text-right= format_date(book.created_at)
      =will_paginate @books, renderer: BootstrapPagination::Rails
