=content_for :page_title do
  Signup

%p &nbsp;
.container
  .row
    .col-md-8
      %p
        Here at CrowdScribed we handle things a bit differently. We really
        want to get to know our authors so we can understand their wants and
        needs. You will be assigned a personal marketing/editing advisor to
        help you along the way. We just need a couple of bits of information
        to get started.

  =form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    .row
      .col-md-4
        =render partial: 'users/form_fields', locals: { author: resource, f: f }
      .col-md-4
        .form-group{ :class => form_group_class(resource, :email) }
          =f.label :email, class: 'control-label'
          =f.email_field :email, class: 'form-control', :required => true
          =help_blocks resource, :email
        .form-group{ :class => form_group_class(resource, :password) }
          =f.label :password, class: 'control-label'
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          =f.password_field :password, autocomplete: "off", class: 'form-control', :required => true
          =help_blocks resource, :password
        .form-group{ :class => form_group_class(resource, :password_confirmation) }
          =f.label :password_confirmation, class: 'control-label'
          =f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', :required => true
          =help_blocks resource, :password_confirmation
        .form-group
          =f.submit "Sign up", class: 'btn btn-primary'
      .col-md-4
        = render "devise/shared/links"
