Contribution Receipt
:plain

Your contribution for the book #{h @book.administrative_title} by #{h @author.full_name} in the amount of #{h number_to_currency(@contribution.amount)} has been received.
:plain

Confirmation: #{h @contribution.public_key}
:plain

Follow this link for information bout your contribution.
=show_contribution_url(@contribution.public_key)
:plain

Follow this link for more details about the book.
=book_url(@book)
