%h1 Contribution Receipt

Your contribution for the book
%i= @book.public_title
by #{h @author.full_name}
in the amount of #{h number_to_currency(@contribution.amount)} has been
received.

%p
  Confirmation:
  =link_to @contribution.public_key, show_contribution_url(@contribution.public_key)
%p
  =link_to 'Click here', book_url(@book)
  to find more information about the book.
