Welcome to Crowdscribed!
:plain

Thanks for adding yourself to the Crowdscribed mailing list!  We will be in touch very soon with updates and features to check out on the new beta test site, coming this fall.
:plain

If you would like more information sooner about publishing services, please contact #{h @contact_name}, our #{h @contact_title}, at #{h @contact_email}.
