.form-group{ class: form_group_class(@reward, :house_reward_id) }
  =f.label :house_reward_id, 'Reward', class: 'control-label'
  =f.select :house_reward_id, house_reward_options_for_select(@reward.house_reward_id), {}, class: 'form-control', autofocus: true
  =help_blocks(@reward, :house_reward_id)
.form-group{ class: form_group_class(@reward, :minimum_donation) }
  =f.label :minimum_donation, class: 'control-label'
  =f.number_field :minimum_donation, class: 'form-control', rows: 3, min: 1, step: 1
  =help_blocks(@reward, :minimum_donation)
=f.submit 'Save', class: 'btn btn-primary', title: 'Click here to save this reward.'
=link_to 'Back', edit_campaign_path(@campaign), class: 'btn btn-default', title: 'Click here to cancel and return to the campaign edit form.'
