=content_for :page_title do
  Edit reward

.container.container-default
  =form_for(@reward) do |f|
    -if @reward.house_reward_id
      =render 'house_reward_form_fields', f: f
    -else
      =render 'form_fields', f: f
