body {
  font-family: "PT-Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #747474;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-size: 200%;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #F90;
}
.container {
  margin: 16px 68px;
}
#top-border {
  background: #00ADDE;
  height: 44px;
}
