=content_for :page_title do
  Authors

.container
  .row
    .col-md-6
      %table#authors-table.table.table-striped
        %tr
          %th Signup date
          %th Name
          %th Email
        -@authors.each do |author|
          %tr
            %td= format_date_time(author.created_at)
            %td= link_to author.full_name, author_path(author)
            %td= author.email

