=content_for :page_title do
  Unsubscribed

.container.container-default
  .row
    .col-md-6
      You may change your email preferences at any time by
      =link_to 'signing in', new_user_session_path
      and updating your profile.
