%h2 What fees are deducted from the amount my campaign raises?
%p
  Crowdscribed never deducts fees from what you raise just for raising
  it. We make our money helping you make and sell your book! However,
  our third party services providers do, so keep this in mind. Each
  credit card contribution has a deduction of 2.9% of the amount, plus
  30 cents per transaction. This is also similar to the feee charged by
  Paypal if your supporter used that.

%p
  So if you raised $1,000 from ten $100 donations:
  %blockquote
    $1000 - (($1000 x 2.9%) + (10 x $.30)) = $1000 - ($29 + $3) = $967

%p
  From one hundred $10 donations:
  %blockquote
    $1000 - (($1000 x 2.9%) + (100 x $.30)) = $1000 - ($29 + $30) = $941

%p
  These are estimates and may vary depending on what the third-party
  payment processors charge. And as always, you cannot “cash out” what
  you raised; all remaining funds must be used toward
  Crowdscribed-provided book production services and/or copies of your
  book (and related shipping and taxes).
