#top_bar
  .container
    -unless AppSetting.sign_in_disabled?
      .row
        .col-md-7.col-md-offset-5.text-right
          -if user_signed_in?
            =link_to current_user.full_name, user_path(current_user)
            -if !AppSetting.sign_in_disabled?
              |
              =link_to 'Sign out', destroy_user_session_path, method: :delete, title: 'Click here to end your session.'
          -else
            =form_tag session_path(:user), class: 'form-inline' do
              .form-group
                =label_tag 'user[email]', 'Email', class: 'sr-only'
                =text_field_tag 'user[email]', nil, class: 'form-control', placeholder: 'Email'
              .form-group
                =label_tag 'user[password]', 'Password', class: 'sr-only'
                =password_field_tag 'user[password]', nil, class: 'form-control', placeholder: 'Password'
              .checkbox
                =label_tag 'user[remember_me]' do
                  =check_box_tag 'user[remember_me]'
                  Remember me
              .form-group
                =submit_tag 'Sign in', class: 'btn btn-default'
