=content_for :page_title do
  Payments

.container.container-default
  .row
    .col-md-5
      =render_status_nav(Payment::STATUSES){|h| admin_payments_path h}
      %table#payments-table.table.table-striped
        %tr
          %th.text-right Date
          %th.text-right Amount
          %th &nbsp;
        -@payments.each do |payment|
          %tr
            %td.text-right= format_date_time(payment.created_at)
            %td.text-right= number_to_currency(payment.amount, precision: 2)
            %td
              .btn-group
                =link_to admin_payment_path(payment, status: @status), class: 'btn btn-xs btn-info', title: 'Click here to view the payment details' do
                  %span.glyphicon.glyphicon-zoom-in{ 'aria-hidden' => true }
                -if payment.approved?
                  =link_to refresh_admin_payment_path(payment, status: @status), method: :patch, class: 'btn btn-xs btn-default', title: 'Click here to update the payment with from the provider.' do
                    %span.glyphicon.glyphicon-refresh{ 'aria-hidden' => true }
                -if payment.can_refund?
                  =link_to refund_admin_payment_path(payment, status: @status), method: :patch, class: 'btn btn-xs btn-danger', title: 'Click here to refund this payment', 'data-confirm' => 'Are you sure you want to refund this payment?' do
                    %span.glyphicon.glyphicon-remove-circle{ 'aria-hidden' => true }
      =will_paginate @payments, renderer: BootstrapPagination::Rails
