.row
  .col-sm-6.col-sm-offset-1
    =image_tag 'pages/printing_costs_graph.png', class: 'img img-responsive'
  .col-sm-4
    %table.table
      %tr
        %th.text-right # Copies
        %th.text-right Cost Per Unit
      %tr
        %td.text-right 1
        %td.text-right $6.97
      %tr
        %td.text-right 2
        %td.text-right $5.98
      %tr
        %td.text-right 3
        %td.text-right $5.65
      %tr
        %td.text-right 4
        %td.text-right $5.49
      %tr
        %td.text-right 5
        %td.text-right $5.39
      %tr
        %td.text-right 10
        %td.text-right $5.19
      %tr
        %td.text-right 15
        %td.text-right $5.12
      %tr
        %td.text-right 20
        %td.text-right $5.09
