#subscribe-form.floating
  .container
    .row
      .col-md-4.col-md-offset-4
        .panel.panel-primary
          .panel-heading
            Find Out More!
            %button.close{ type: 'button', data: { dismiss: 'alert', target: '#subscribe-form'} }
              %span{ 'aria-hidden' => true } &times;
              %span.sr-only Close
          .panel-body
            =form_for(@subscriber) do |f|
              =render 'subscribers/form_fields', f: f, subscriber: @subscriber
