=content_for :title_bar do
  A La Carte Pricing

.container
  .row.a-la-carte
    .col-md-4
      %h1 Editorial Services
      %p Editorial Director (required) – $120.00
      %p Typesetting/Page Design (Basic) – $90.00
      %p Typesetting/Page Design premium – $600.00
      %p Copy Editing – $1,200.00
      %p Developmental Editing – $2,400.00
      %p Cover Design (Simple) – $600.00
      %p Cover Design (Complex) – $950.00
      %p Chapter Writing – $15,000.00
      %p ISBN &nbsp; PCN set up and acquisition – $78.00
      %p POD set up – $72.00
      %p ePub Conversion – $30.00
      %p Global Distribution (LSI) – $32.40
      %p Set up Package (4 items above) – $210.00
      %p.action
        =link_to 'To order a service please contact us.', 'mail:info@crowdscribed.com'
    .col-md-4
      %h1 Marketing Services
      %p HTML email set up – $100
      %p Digital marketing guide – $50
      %p Monthly digital marketing consult via email – $25
      %p Individual Project Services – $2,500
      %p.action
        =link_to 'To order a service please contact us.', 'mail:info@crowdscribed.com'
    .col-md-4
      %h1 Production Services / Global Distribution
      %p 3DM – $3,450
      %p Others – $2,000
      %p.action
        =link_to 'To order a service please contact us.', 'mail:info@crowdscribed.com'
