=content_for :page_title do
  About us

.container
  .row.about-us
    .col-md-9
      %h1 What Is CrowdScribed?
      %p CrowdScribed is a new platform created to rebuild the relationship between authors and readers by providing authors a legitimate platform to market and fund their books before they’re published and readers a method to discover new books and interact with authors.
      %p We’re helping you find the books you want to read by enabling you to recommend and support titles, discuss them with the author and your friends, and vote on your favorites.

      %h1 Sound amazing? We think so.
      %p Our mission is to make a revolutionary change in the publishing industry, and it all starts with you. (So, yeah. You might want to go put some coffee on.)

      %h1 Why Does CrowdScribed Exist?
      %p You might have noticed the traditional publishing industry is experiencing a multifaceted crisis. While trying to survive the breakneck pace of a changing retail environment and armed with no proven method to predict a book’s success, publishers end up assuming bigger financial risks than ever before. Not to mention the fact that traditional publishers compete with the growing number of books released on self-publishing platforms that offer authors higher royalties.

      %h1 If it sounds confusing, that’s because it is. 
      %p It’s no wonder there’s a new “The Publishing Industry is a Mess” article being written every week.
      %p The truth is, this isn’t just a problem for the publishers. Since authors lack compelling ways to approach traditional publishers, many opt for those self-publishing platforms. And while self-publishing can be accomplished in a matter of hours, quality is often compromised, and many good authors are lost in the sea of titles now available.
      %p This makes it time consuming for all of us as readers to discover and engage with a book or an author, especially now that a lack of physical bookstores changes the way we’ve historically discovered new books and authors.
      %p Self-publishing a book is a big financial investment for most authors, and knowing how many other titles their book will be competing against, it’s a wonder so many authors continue to tout it as the future of publishing.

      %h1 So What Is The Future Of Publishing?
      %p We believe the power to solve this crisis is in the hands of the readers; specifically, in the relationship between authors and readers.
      %p The connection between writer and reader has traditionally been sparse; CrowdScribed’s community is now the conduit for readers to join in dialogue with authors, creating an environment of discovery and transaction of ideas while simultaneously giving publishers a chance to preview a budding bestseller.

      %h1 Have More Questions?
      %p Of course you do. Read through our FAQs to learn more about CrowdScribed.
    .col-md-3
      =image_tag 'baseball_player.jpg'

