=content_for :title_bar do
  Approval pending

.container
  .row
    .col-md-12
      Thank you for verifying your email address. We will now review your account and let you know once it is approved.
