=content_for :page_title do
  Author Portal

.container
  .row
    .col-md-9
      %h1 Crowdscribed Author Portal
      %h2 What is it?
      %p
        Crowdscribed has built a customizable Author Portal where you can work on
        your manuscript in your own private “room”. The site includes both
        book construction and digital marketing tools that can help you with
        writing, editing, promoting, and even funding of your project. All of
        this is done within the confines of your own personal space. If you’re
        a new or struggling author you can work on chapter development and
        concept testing with fellow uathors or readers. It will also help you
        to develop a fanbase even before your book is finished.
      %blockquote
        &mdash; Allowing people to be engaged in the collaboration process
        creates buzz and excitement around your project.

      %h2 What’s the Big Deal About the Crowd?
      %p
        Building a crowd is an essential step in the process of any book, new
        authors have an even harder time. So starting early is the key. By
        allowing people to be engaged in the collaboration process this creates
        buzz and excitement around your project. They feel engaged, and included
        as the process moves along. An engaged crowd is a crowd that will
        purchase the final product when it is release, thus giving your book a
        better chance of success! We help you grow your fanbase, crowd-fund
        money to produce a professional-quality book, sharpen your writing and
        marketing skills and then distribute and sell your work to the world
        when it's ready. It all starts with the power of the crowd.

      %h1 Features
      .row
        .col-sm-4
          %h2 Crowd-funding Tool

          %ul
            %li Create book preorder campaigns
            %li Raise funds for cover design, intensive editing or for everything
            %li Offer rewards for supports
            %li Promote via social media
            %li Edit the campaign as you go according to your needs
            %li Lower feeds than any other crowd-funding tool available
            %li We can even fulfill many of the rewards
        .col-sm-4
          %h2 Book Development Tools

          %ul
            %li Typesetting/Page Design Services
            %li Developmental Editing Services
            %li Copy Editing Services
            %li Cover Design Services
            %li Book Printing Services
            %li Chapter Writing Services
            %li Print Ready Conversion
            %li ISBN &amp; PCN set up and acquisition
            %li Print-On-Demand set up
            %li ebook Conversion (All formats)
            %li Global Distribution
        .col-sm-4
          %h2 Marketing Tools

          %ul
            %li Personalized Book Pages and Author Page
            %li Crowd-funding tool
            %li Social media and fanbase development tools
            %li HTML email template
            %li Digital marketing coaching
      .row
        .col-md-6.col-md-offset-3
          =link_to 'Show Me Pricing and Plans!', pages_a_la_carte_pricing_path, class: 'hero-btn btn btn-lg btn-primary'
      .row
        .col-md-12
          %p &nbsp;
          %p
            With Crowdscribed you can get the help you need when you need it.
            And you can always be in contact with a real publishing
            professional. From acquiring and ISBN to managing a full project
            the we can help you engage your “crowd” while making your
            manuscript all that you want it to be. We can help.

          %h2 Tony Robbins Explains
          %iframe{ :width => 600, :height => 350, :src => "https://www.youtube.com/embed/amiPdCl6eKE", :frameborder => 0, :allowfullscreen => true }
    .col-md-3
      =image_tag 'lady_in_dress.jpg'
