=content_for :title_bar do
  Books
.container
  .row
    .col-md-12
      .grid
        .grid-item
          =figure_tag 'books/love-at-first-click.jpg', alt: 'Love at First Click', class: 'hidden-caption' do
            My whole life changed on September 10, when he accepted my friend request on Facebook, a popular social networking site. His name was Noah Knight, and this is our story.
      .grid
        .grid-item
          =figure_tag 'books/persecution-complex.jpg', alt: 'Persecution Complex' do
            Jason Wiedel cuts through the fog around this issue and reveals the truth behind the persecution complex: we’re not being persecuted, we’re losing privilege. Wiedel’s insights and exploration in to this concept help us to see why the loss of privilege is actually a blessing and how the false narrative of persecution is damaging Christianity and our witness to the world.
      .grid
        .grid-item
          =figure_tag 'books/did-god-invent-the-internet.jpg', 'Did God Invent the Internet?' do
            The book presents a vision as to how technology is changing the human race, and addresses the question; will we be happy with the ultimate outcome?
      .grid
        .grid-item
          =figure_tag'books/rewilding-the-way.png', 'REWiLDiNG THE WAY' do
            When did we become so tame? How has “the good life” come to mean addiction to screens and status, fossil fuels and financial fitness? Trek along with wilderness guide Todd Wynward as he “rewilds” the Jesus Way.
      .grid
        .grid-item
          =figure_tag 'books/building-a-discipling-culture.png', 'Building a Discipling Culture' do
            We have a discipleship problem. If we make disciples like Jesus made them, well never have a problem finding leaders or seeing new people coming to faith.
      .grid
        .grid-item
          =figure_tag 'books/confronting-the-predicament-of-belief.jpg', 'Confronting the Predicament of Belief' do
            What happens when discussions of the deepest issues—God and science, faith and doubt, suffering and evil, death and resurrection—are guided by the real-life challenges of believing and living in today’s world?
      .grid
        .grid-item.grid-item--height2
          =figure_tag 'books/covenant-and-kingdom.png', 'Covenant and Kingdom' do
            Covenant and Kingdom: The DNA of the Bible guides you on a Scriptural quest for knowledge and understanding. Stories and verse from the Old and New Testaments are woven together and cross-referenced, until the connections are clear and indisputable, like DNA from the Bible.
      .grid
        .grid-item
          =figure_tag 'books/post-christian.jpg', 'Post Christian' do
            How we can take the “Christian vices” inherent in our religion-such as pride, unquestioning certainty, and judgment- and transform them into “Christian virtues”- humility, faith, and mercy
