=content_for :title_bar do
  Book incubator

.container
  .row
    .col-md-9
      %h1 CrowdScribed Book Incubator
      %h2 What is it?      
      %p
        Crowdscribed has built a book incubator portal where you can work on
        your manuscript in your own private “room”. The site includes both
        book construction and digital marketing tools that can help you with
        writing, editing, promoting, and even funding of your project. All of
        this is done within the confines of your own personal space. If you’re
        a new or struggling author the Crowdscribed book incubator will be the
        perfect place to work on chapter development and concept testing. It
        will also help you to develop a crowd following even before your book is
        finished.
      %blockquote
        &mdash; By allowing people to be engaged in the collaboration process this
        creates buzz and excitement around your project.
    .col-md-3
      =image_tag 'lady_in_dress.jpg'
