=content_for :page_title do
  Books
.container.container-default
  .row
    .col-md-10.col-md-offset-1
      .grid
        -@books.each do |book|
          .grid-item.book{ class: book[:height] ? "grid-item--height#{book[:height]}" : nil }
            .author.sr-only= book[:author]
            .title.sr-only= book[:title]
            =link_to book[:url], target: book[:target] do
              =figure_tag book[:image], alt: book[:title] do
                =book[:caption]

