=content_for :page_title do
  Book incubator

.container
  .row
    .col-md-9
      %h1 Crowdscribed Book Incubator
      %h2 What is it?      
      %p
        Crowdscribed has built a book incubator portal where you can work on
        your manuscript in your own private “room”. The site includes both
        book construction and digital marketing tools that can help you with
        writing, editing, promoting, and even funding of your project. All of
        this is done within the confines of your own personal space. If you’re
        a new or struggling author the Crowdscribed book incubator will be the
        perfect place to work on chapter development and concept testing. It
        will also help you to develop a crowd following even before your book is
        finished.
      %blockquote
        &mdash; By allowing people to be engaged in the collaboration process this
        creates buzz and excitement around your project.

      %h2 What’s the Big Deal About the Crowd?
      %p
        Building a crowd is an essential step in the process of any book, new
        authors have an even harder time, so starting early is the key. By
        allowing people to be engaged in the collaboration process this creates
        buzz and excitement around your project. They feel engaged, and included
        as the process moves along. An engaged crowd is a crowd that will
        purchase the final product when it is release, thus giving your book a
        better chance of success! Through helpful resources, our book incubator
        will guide you through the process of engaging the crowd.

      %h1 Incubator Features
      .row
        .col-md-5
          %h2 CrowdFunding tool

          %ul
            %li So let’s say your manuscript is finished and all you need is editing. Our CrowdFunding tool will allow you to set up a campaign just for editing. You can then tap into your crowd and get them to help you fund it.
            %li Need help with a cover design? Set up a campaign.
            %li Maybe you need help with every step of your project? You will be able to set up multiple campaigns at each step of the way to get your goals accomplished!
        .col-md-7
          =image_tag 'fund_it.gif'
      .row
        .col-md-6
          %h2 Book Development Tools

          %ul
            %li Typesetting/Page Design Services
            %li Developmental Editing Services
            %li Copy Editing Services
            %li Cover Design Services
            %li Book Printing Services
            %li Chapter Writing Services
            %li Print Ready Conversion
            %li ISBN &amp; PCN set up and acquisition
            %li Print on demand set up
            %li ePub Conversion
            %li Global Distribution (LSI)
        .col-md-6
          %h2 Marketing Tools

          %ul
            %li Personalized Book Incubator Portal
            %li CrowdFunding tool
            %li Digital Marketing Landing Page
            %li HTML email template
            %li Digital marketing guide
            %li Monthly digital marketing consult
      .row
        .col-md-6.col-md-offset-3
          =link_to 'Show Me Pricing and Plans!', pages_package_pricing_path, class: 'hero-btn btn btn-lg btn-primary'
      .row
        .col-md-12
          %p &nbsp;
          %p
            With the exclusive Crowdscribed Book Incubator you can get the help
            you need when you need it. And you can always be in contact with a
            real publishing professional. From acquiring and ISBN to managing a
            full project the exclusive Crowdscribed™ Book Incubator can help
            you engage your “crowd” while making your manuscript all that you
            want it to be. We can help.

          %h2 Tony Robbins Explains
          %iframe{ :width => 600, :height => 350, :src => "https://www.youtube.com/embed/amiPdCl6eKE", :frameborder => 0, :allowfullscreen => true }
    .col-md-3
      =image_tag 'lady_in_dress.jpg'
