-content_for :page_title do
  COMMUNITY STANDARDS

.container.container-default
  .row
    .col-md-12
      %p
        By creating an account with Crowdscribed, I agree that all content I
        share, including posts, comments, books, campaigns and profile
        materials, will adhere to the following guidelines:

      .well
        %ul
          %li
            %strong Safe –
            I will not post, link to or share any content that could be deemed
            harmful to another individual or group of people, whether they are
            on the Crowdscribed site or not. I understand that material shared
            that is deemed a potential harm to others or the general public will
            be reported to authorities.
          %li
            %strong Respectful –
            I will conduct myself with respect and kindness for all others.
            Though a difference of views is expected, and even encouraged, I will
            not engage in personal attacks, or in posting or sharing degrading
            language or images. I will not use language or imagery that is
            graphically violent or use racist, sexist or sexually aggressive
            language.
          %li
            %strong Legal -
            I will not include the work of other people in my own without proper
            citation, and I will not claim it as my own. I will not share stories
            or images encouraging or condoning illegal activity. Although certain
            fiction and nonfiction works include real or imagined illegal activity,
            it is not to be presented as something to be imitated. 
          %li
            %strong Secure –
            I will keep my personal information private and secure and I will not
            share my account login information with others. If I have another
            person's private information, I will not share it on the Crowdscribed
            site or elsewhere. 
          %li
            %strong Spam-Free –
            I will not post content or links promoting products or services not
            offered by, or in partnership with, the Crowdscribed family. 
          %li
            %strong Pornography-Free –
            Although there are cases in which tasteful nudity or sexual scenarios
            may be a part of artistic expression, I will not post or link to
            sexually explicit, graphic or pornographic material. If my content
            includes nudity or sexual situations, I will offer a clear warning
            in advance. 
          %li
            %strong Responsible –
            If I see anyone else producing or sharing content that is in
            violation of any of the above standards, I will report it to
            Crowdscribed. 

        -#%p
          I understand that, by clicking “I Agree” below, that I will be held
          to these standards, and that my account, book page or crowdfunding
          campaign can be suspended or cancelled without notice if I am found
          to be in violation. 

