=content_for :title_bar do
  Building a Discipling Culture

.container
  .row
    .col-md-6
      %p.text-center
        =image_tag 'books/building-a-discipling-culture-lg.png', class: 'lead-image'

      %h3.text-center Author Mike Breen &amp; the 3DM Team

      %p.text-center
        Follow Mike Breen on his blog,
        =link_to 'Discipling Culture', 'http://www.disciplingculture.com/blog/', target: '_blank'

      %p.text-center
        =image_tag 'authors/breen.jpg'
    .col-md-6
      %h1 Book Overview

      %p
        Much ink and many pages have been devoted to all of the missional
        issues facing the Western church today. As our culture becomes more
        post-Christian with each passing day, we are all realizing that what
        has worked in the past is no longer working, that we are far less
        effective for the Kingdom than we were even 10 years ago. But we would
        suggest it isn't because we don't know what the Great Commission states
        or the imperatives of the Gospel, or that our church services just
        aren't getting it done.

      %p
        Its because we are in the midst of a discipleship crisis in the Western
        church. The people sitting in our pews are rarely becoming like the
        people we read about in Scripture. They may come to a worship service,
        join a small group or even tithe, but their lives just don't seem to
        look like Jesus life.

      %p
        The truth of the matter is that we don't have a missional problem or
        leadership problem in the Western church. We have a discipleship
        problem. If we make disciples like Jesus made them, well never have a
        problem finding leaders or seeing new people coming to faith.

      %p
        The central issue is that we have no idea how to make disciples who can
        do the things that Jesus did for the reasons Jesus did them. Building a
        Discipling Culture is the product of more than 25 years of hands-on
        discipleship practice in a post-Christian context that has turned into a
        worldwide discipling movement, dealing specifically with how to make the
        types of missional disciples Jesus spoke of. We all want to make
        disciples. Most of us are unsure how to do it.

      %p
        Dallas Willard put it this way: Every church needs to be able to answer
        two questions. One, do we have a plan for making disciples? Two, does our plan work?

      %p
        For most of our church communities, we have a plan, but the plan isn't working.

      %p.text-center
        =link_to 'Buy now', 'http://weare3dm-store.3dcartstores.com/Building-A-Discipling-Culture-2nd-Edition_p_8.html', class: 'btn btn-primary'

      %p.text-center
        =link_to 'https://www.facebook.com/weare3dm?_rdr=p', target: '_blank' do
          =image_tag 'social/facebook'
        =link_to 'https://twitter.com/3dmovements', target: '_blank' do
          =image_tag 'social/twitter'
        =link_to 'https://instagram.com/3dmpublishing/', target: '_blank' do
          =image_tag 'social/instagram'
      .text-center
        3D Movements

      %p.text-center
        Visit 3D Movements Bookstore today!
        =link_to 'Click Here', 'http://weare3dm-store.3dcartstores.com/', target: '_blank'
