=content_for :page_title do
  FAQs

.container
  .row.faqs
    .col-md-9
      %p &nbsp;
      %p
        If your question is not answered here, please e-mail
        %a{:href => "mailto:info@crowdscribed.com", :style => "color: #0088cc;"} info@crowdscribed.com
      %h1 All About the Crowd
      %h2 What is CrowdScribed?
      %p CrowdScribed is a new approach to publishing that centers on the connection between an author and readers. CrowdScribed provides the author access to all the critical publishing services they need to publish and distribute their book while also building their marketing platform and funding their book. We call the model Crowd Publishing.
      %h2 Why was CrowdScribed started?
      %p CrowdScribed was founded to solve some of the problems and bridge the gaps that exist in the publishing market today. We believe the two most important audiences for books are authors and readers, and that readers should drive what books get published.
      %h2 What is “Crowd Publishing?”
      %p We believe that there’s a major disconnect between readers and authors. In most cases, writers who work with publishing houses are playing a guessing game, hoping they know what readers will like once the book is published. With CrowdScribed, we employ the power of the crowd to assist in the creative process from the beginning. You can post samples of your work and receive feedback from readers on what they love or don’t care for. We also offer a unique “Pretail®” feature that help show the demand for your book, even before the book is published.
      %h2 What is “Pretail?®”
      %p You know what retail is, but Pretail allows you to market your book to the public before it even comes out. People who believe in you and your work can help support your publishing efforts by pre-ordering a copy (or ten, or a hundred!). This helps offset the cost of the publishing package you select, and 100% of revenue (less printing and shipping costs) goes back to you until you’ve earned back all of the investment you’ve made. Using our unique “book portal incubator” you’ll have your own site where you can interact with your crowd.
      %h2 Is CrowdScribed a publisher?
      %p CrowdScribed is a platform that connects aspiring authors and readers to determine what books get published. The community speaks through votes and pre-sale votes to determine which books get produced. When a book carries the CrowdScribed logo, it tells readers that the book had community support to be published. CrowdScribed will publish select books that reach their goals and demonstrate reader demand.
      %h2 Isn’t CrowdScribed just another Vanity Press?
      %p No. Vanity presses simply take your book, typeset and print it. There is no professional editing involved in most cases, no custom graphic design, and your book is not formatted or registered and cannot be marketed through traditional retail outlets. We work directly and personally with you to create the book for your dreams. Our team of professional designers, editors and publishing veterans can bring as much talent and creativity to the project as you need. CrowdScribed works with some of the biggest sales and distribution partners in the world so that we can help put your title alongside all of the bestsellers in your genre.
      %h2 What if I like the model, but can’t afford it?
      %p If you recognize that CrowdScribed is the model that works best for you, but finances are a challenge, reach out to us anyway. We review projects on a case-by-case basis to determine the viability of your project, given your publishing history, extent of your social networks and existing resources. For select projects, we will approve an alternate “crowd funding” option to raise the necessary funds.
      %p Think of it like Kickstarter, but designed especially for the needs of serious authors. You pick the publishing package you want to work toward, publicize your crowd funding goal to your networks, and once you’ve pre-sold enough copies to cover the costs, you’re ready to be published! Plus, you’ve already established the viability of your title in the marketplace with solid presale numbers, which is appealing to any entity that needs validation that your book is marketable.
      %h2 How do I know if CrowdScribed is right for me?
      %p If you are not satisfied with traditional royalty rates, the 18- to 24-month publishing schedules and dealing with big, corporate editorial boards, CrowdScribed is exactly what you’re looking for. We offer greater flexibility, creative involvement, faster turnaround and more generous royalty rates than traditional publishers. We offer a personalized publishing experience, while still using the same sales, production, editing and distribution resources that traditional publishers do. So if you want to make sure your book stands apart from the noise of self-published titles, but still want to have an active role throughout the creative process, we want to work with you. (link to my email)
      %h2 Who works for CrowdScribed?
      %p
        The company is managed by people that have been involved with multiple
        %em New York Times
        best-selling books. We know what it takes to make a book the best it can be, and we know what limitations are causing so many publishers to shrink and even close up all together. We’re thinking and working differently, so that you can expect something different from your publishing experience. Our editorial, design and sales teams are freelance professionals, most of whom are also called on to work on major titles at the big publishing houses we all know.
      %h2 What do I do next?
      %p
        If the CrowdScribed model is what you’ve been looking for,
        -# TODO Link to something here?
        %strong
          =link_to 'click here', pages_package_pricing_path
        to look through our publishing package options. If you are interested In the crowd funding model, where we help you raise the necessary funds to secure your desired package, click on the option titled “CrowdScribed Pro (Get a Quote!).” We’ll then be in direct contact with you No complicated publishing websites, no automated bots. Just people working with people to create amazing books.

      %h1 Campaigns
      %h2 How are my goals calculated?
      %p Your goal is calculated based on the service level you choose for your book. You will receive 100% of net sales (revenues after cost of goods) until you reach the amount of your service fees. After that amount is met, you will receive a 50% of net sales (revenues after cost of goods sold) on all print formats.
      %h2 Are you the Kickstarter for books?
      %p No, we’re more than that. CrowdScribed focuses on books and provides the platform for authors to connect directly with readers to generate support for their books to be published. It’s the only place that the reader has a voice in what books get published, and it’s the newest crowdfunding pretail® platform, letting you see the most innovative, exciting, and unique books out there.
      %h2 How much will an author make on the CrowdScribed platform?
      %p Authors choose a service level that best suits their objectives for their book. Once their book is approved and live on the CrowdScribed platform, the author has the opportunity to interact with readers and generate support for their book. The author will receive 100% of net sales (revenues after the cost of goods sold) up to the amount equal to the service fees they paid CrowdScribed. This is while they’re building a viable marketing platform for their personal brand, and their book. If the author’s book is published by CrowdScribed, the author will receive 50% of net sales (after cost of goods sold) for all print copies.
      %h2 Will I have to do my own marketing for my campaign?
      %p While CrowdScribed will provide a method to link your activity to social networks to the site, the most successful campaigns happen when you bring your network of friends and readers to the site. CrowdScribed users will also be commenting on your book or idea and will provide an additional audience for your campaign.
      %h2 What if my campaign doesn’t raise the full amount I need?
      %p If your campaign ends without you raising the full amount, we will consult with you one-on-one about your options. You may choose to opt for a more streamlined package, or you might want to kick in the difference to help put your project over the top. Whereas crowd funding sites like Kickstarter set “all or nothing” goals, we’ll try to work with you to maximize your opportunities depending on your means.
      %h2 How is CrowdScribed different for readers than just following an author on Facebook or Twitter?
      %p CrowdScribed connects the reader to the author at a critical stage – before the author’s book has been published. The reader gains access to content early in the stage, can develop a relationship with the author as they develop their book and community, and the ability to have a voice into what books are published. It’s a way to discover great new books, and to play an active role in the publishing process which they’ve never been able to do before.

      %h1 About my Manuscript
      %h2 Who owns the book?
      %p You always hold copyright to the book. It’s yours, period. We do sometimes enter into distribution agreements with certain authors, and we even invite a few who rise above the rest to be represented on the CrowdScribed imprint. Maybe that’s you? But each time we do, the terms of the agreement are clearly stated and agreed to by all parties before proceeding.
      %h2 Can I try and sell my book to a traditional publisher after I publish with CrowdScribed?
      %p Yes! That’s one of the great things about our model. Publishers and agents today want to see a demonstrated sales history or “platform” from prospective authors. If you can show a history of sales with CrowdScribed, that makes you more appealing to the mainstream publishing world. Depending on your book, your goals and how the market responds, CrowdScribed is an open platform and we will work with you to determine the best course for book, whether that’s with us, with another publisher or by self-publishing.
      %h2 With all the self-publishing options available today, why would an author post their book to CrowdScribed?
      %p Two reasons: platform and discoverability. Self-published authors lack the ability to develop a marketable platform for their work. They can create social followings and can even sell books from their own web sites,but that remains one voice among many. Amazon is the largest online retailer in the world and the largest bookseller in the world. Discoverability on Amazon is determined by sales algorithms and bestseller lists. Discovering new authors and books can be daunting. CrowdScribed provides authors the platform to generate community and financial support for their book before it’s published and provides a quantifiable platform to present their books to publishers for better distribution and visibility.
      %h2 What are the formats offered for my book to be published?
      %p Standard books are published in a 5.5×8.5 format in either color or black and white. All books are offered as an ebook and as a softcover. Children’s books are available in 8×8 softcover. We have the ability to publish special formats like hardcover and specialty covers as incentives. You will need to contact us at submissions@crowdscribed.com to get more information for your project.
      %h2 Will you offer color or B&amp;W interiors?
      %p Yes, both. If color is critical to you communicating what you’re doing, then we can publish your book in color.
      %h2 How will my book be produced?
      %p If CrowdScribed’s publishing division handles your project, one of the options you’ll have is to produce your book via crowdsourcing, or we can match up a writer (if necessary), editor, and designer for your book; however, we will discuss these options with you before moving forward.
      %h2 How will my manuscript be distributed?
      %p All ebooks and print books produced by CrowdScribed’s publishing division will be distributed after the book is published directly by CrowdScribed using our international distribution partners.
      %h2 Who owns a book that gets published through CrowdScribed?
      %p The author owns the content, and CrowdScribed and/or the publisher own publishing and distribution rights.

      %h1 Submitting a Book
      %h2 Will all books be accepted on CrowdScribed?
      %p We currently accept book submissions of any genre; however, each submission is approved by a member of the CrowdScribed staff and will be reviewed for explicit content before being posted on the site. If you adhere to our submission criteria, your book will appear on the site!
      %h2 What are the submission criteria?
      %p We ask for a title, genre, subgenre, short and long description, keywords, and 3 sample chapters of the manuscript. We do not accept submissions of an explicit or evil nature or those containing abundant profane language or strong sexual content. For detailed information on our submission criteria, please see our submission guidelines
      %h2 Why do you post 3 sample chapters of my work?
      %p Offering a sample of your work is going to draw more readers to your submission and get you more publicity on the site and on your readers’ social networks. It is still your property, and no one will be able to copy or remove the content from CrowdScribed once it’s posted.
    .col-md-3
      =image_tag 'edifice.jpg'
