-content_for :page_title do
  Fees and Expenses

.container.container-default
  .row
    .col-md-8
      %p
        The primary fee structure for the services we provide is simple:
        twenty-five percent of net.
        %sup 1
        All receivables from sales will go
        through the Crowdscribed system initially, from which all
        printing, sales tax and shipping costs will be paid. From the
        remainder, 25% is deducted as our margin, and then the rest is
        distributed on a quarterly basis. 

      %p
        There are additional fees per title for setup in the
        distribution/fulfillment system, conversion to e-book formats and
        a nominal annual fee for keeping it in that system. If proofs are
        ordered to be printed and mailed for review before distribution,
        there is a separate charge per copy for that, as well as any advance
        “review” copies requested. There are standard fees as well for
        purchase of the ISBN codes, and registration of copyright. 

      %p
        If a client wishes for Crowdscribed to provide these services, along
        with formatting books in print-ready files, these services are on a
        fee-for services basis. The fee structure for these, along with all
        other available production services, are available here. 

      %p
        Cost of printing varies by volume. There is a per-order handling fee
        which is a flat charge, regardless of the number of books printed of
        that title. In the following table and graph, you can see that
        per-unit cost drops significantly as volume increases. The fee is
        per order, therefore if multiple titles are ordered by one person at
        once (therefore packaged together), the fee is the same. Shipping
        %sup 1
        and taxes aren't included as those are absorbed by the customer. This
        is based on economy printing option; express and rush service each are
        ten percent additional, respectively. If an author orders copies of
        their own book to ship directly to themselves, Crowdscribed adds a
        25% markup to the printing cost, since there is no net revenue in
        these cases.

      =render 'printing_costs_charts'

      %table.footnotes
        %tr
          %th 1
          %td
            Shipping is UPS ground by default. 2nd day air and overnight are
            available for an additional charge. There also is a 30% shipping
            discount for orders 250-499 lbs, and 50% discount 500 lbs and
            higher. 

