=content_for :page_title do
  Scott Klososky
.container
  .row
    .col-md-6
      =image_tag 'authors/klososky.jpg', class: 'lead-image'

      %h1 Author Bio

      %p
        A former CEO of three successful tech startup companies and principal at
        consulting firm Future Point of View, Scott specializes in seeing beyond
        the horizon of how technology is changing the world.

      %p
        His unique perspectives on technology, business culture, and the future
        allow him to travel the globe as an international speaker, consultant,
        and author, publishing three titles to date and working with senior
        execs in organizations ranging from the Fortune 500 to universities,
        nonprofits, and countless professional associations and coalitions. As
        a technology entrepreneur, he also continually works in the trenches of
        building his own companies.

      %h1 Social Links
      =link_to 'http://www.twitter.com/sklososky', target: '_blank' do
        =image_tag 'social/twitter.png'
      =link_to 'https://www.linkedin.com/profile/view?id=2726100&authType=NAME_SEARCH&authToken=LI8-&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2Cidx%3A1-1-1%2CtarId%3A1436538545968%2Ctas%3Ascott%20klososky', target: '_blank' do
        =image_tag 'social/linkedin.png'
    .col-md-6
      %h1 Manuscripts

      %h2 Did God Invent The Internet 

      =image_tag 'books/did-god-invent-the-internet-lg.jpg', class: 'inline-image pull-left'

      %p
        Technology is changing how we operate as human beings in historically
        significant ways. It is likely that these changes will continue to
        happen at increasing rates over the next few decades due to the
        explosion of new technology tools we continue to invent. Some of these
        changes are healthy and positive, while others are not. Because the
        impacts are so great, it would behoove us, as a species, to form a
        clearer picture as to what is happening to us now, and what will
        potentially change in the future. The reality is we are integrating
        technology into our lives, bodies, and relationships. This creates a
        Humalogical Balance of sorts where most of the things we do in a day
        have a technology component, as well as human interaction.

      %p
        Humalogy is a word that describes the integration of technology and
        humanity to get a process completed. We have created a scale that
        allows us to metric the percentage of each that is being applied to any
        given task. Once the world is viewed through a Humalogical lens, we can
        begin to understand how technology is changing how we communicate,
        learn, build relationships, work, and grow. There are unique strengths
        that technology brings, and the same can be said for humans. As we
        struggle to find how to integrate both of these into our world in new
        ways, there are many interesting question:

      %ul
        %li
          Will technology not only help us learn faster and be smarter, but also
          help us be more enlightened?
        %li
          As we become more dependent on it, will we lose basic capabilities
          that might be needed one day?
        %li
          How aware are we of the healthy and unhealthy impacts of our new
          technologies on society?

      %p
        Allow me to share one small example of technology having positive and
        negative aspects. Our mobile devices are becoming outboard brains that
        we use to store memory, solve problems, and find information. As they
        increase in power, we become more addicted to using them to help us with
        our lives. They are making us more powerful in many ways because we have
        instant access to information, or communication, and at the same time,
        we are becoming dependent on them in order to complete many tasks. As we
        become very dependent, we will also lose some of the skills we once had
        because the mobile device does the work (or thinking) for us. We will be
        at the same time more powerful with the outboard brain, and yet less
        able to cope without it. These devices can bring us closer together
        with hundreds of “friends” anywhere in the world, and can disconnect
        us from people sitting in the same room. This is just one example, and
        there are thousands technological concepts that are both improving our
        lives, and causing negative consequences.

      %p
        From a spiritual viewpoint, how technology will improve our race, or
        cripple it, is an intriguing concept to consider. I am a technologist,
        and a person who strives for enlightenment, and I would like to expand
        the view and understanding in the world about where we are today, where
        we are headed, and what we can do to assure a more positive outcome. I
        have broken the book down into discrete areas of our lives so I can do a
        deep dive into the many ways that technology is, and will, impact us.
        And, then render an opinion on the light or dark aspects of each one. My
        dream is that this book causes a discussion in the world that will be a
        catalyst for people to make more conscious decisions about how to
        integrate technology into who we are.

