-content_for :page_title do
  Our team

.container.container-default.our-team
  %h1 Our team
  .row
    .col-md-8
      .row
        .col-sm-5
          =image_tag 'our_team/piatt.jpg', class: 'img img-rounded'
        .col-sm-7
          %strong
            Christian Piatt (President/CEO)
          Christian’s primary passion is for writing. In the process of publishing
          nine books, he has learned a lot about honing the craft of writing, along
          with the industry of publishing. He has worked in nonprofits, education
          and started with Crowdscribed in 2014, becoming the President and CEO of
          Crowdscribed in early 2016, charged with the vision of helping bring the
          publishing industry into the 21st century. He loves reading, movies,
          Friday Date Night with his wife, Amy, and playtime with his son, Mattias,
          and daughter, Zoe.
      .row
        .col-sm-5
          =image_tag 'our_team/atwood.jpg', class: 'img img-rounded'
        .col-sm-7
          %strong
            Blake Atwood (Director of Author Development) 
          Blake is an editor, ghostwriter, and author whose most recent book,
          %i
            Don't Fear the Reaper: Why Every Author Needs an Editor
          , has been described as “wonderful, engaging, and clearly superior
          advice for the aspiring writer.” He works with authors to hone
          their craft, producing the best books possible.
      .row
        .col-sm-5
          =image_tag 'our_team/spayd.jpg', class: 'img img-rounded'
        .col-sm-7
          %strong
            Brianna Spayd Snyder (Project Manager)
          With a graphic design background, Brianna uses her experience with
          typography, layout and project management to design and distribute
          books for Crowdscribed since mid-2014. She has designed for House
          of Flavors, Shape Gallery, Oak Hill Farms and several small
          businesses. She is also passionate about photography and takes her
          camera anywhere she goes. She loves singing, DIY crafts, traveling
          to new places with her husband, Jonathan, and watching Pirates
          baseball.
      .row
        .col-sm-5
          =image_tag 'our_team/linton.jpg', class: 'img img-rounded'
        .col-sm-7
          %strong
            Josh Linton (Vice President of Sales)
          Josh enjoys all things reading and writing and loves connecting with
          others with the same passion. He has worked in ministry and nonprofit
          jobs for the last 15 years. He joined Crowdscribed in early 2016. He
          is involved with volunteer justice work in Oklahoma. When not working,
          Josh shares life with his partner, Jenny, who everyone grows to like
          more than they do him. He boasts a self-given “Dad of the Year” award
          (and a coffee mug proving it), while navigating the busy lives of his
          three children: Jarret (20), Avery (14), and Jaxon (12).
      .row
        .col-sm-5
          =image_tag 'our_team/knight.jpg', class: 'img img-rounded'
        .col-sm-7
          %strong
            Doug Knight (CTO)
          Doug has been building software for more than 18 years. Code he has
          written is running in North and South America, Eastern and Western
          Europe, and Asia. He has helped LivingSocial refine their online
          business, helped Mary Kay collect cosmetic orders around the globe
          and helped other companies too numerous for this profile blurb. He
          is fluent in a variety of computer languages including Ruby, Clojure,
          C#, Java, and JavaScript, and working toward fluency in the human
          languages Spanish and Russian.
