.container
  .pricing-table
    .row
      .col-md-12
        .price-column
          %h1 Starter
          .price-block
            Free
            .note A la Carte extras available
          %p Personalized Book Incubator Portal
          %p Exclusive Crowdscribed crowdfunding tool
          %p Digital Marketing Landing Page
          %p HTML email set up
          %p Digital marketing guide
          %p Monthly digital marketing consult via email
          %p Conversion for print, plus 25 printed copies
          %p ISBN, PCN, access for global distribution &amp; sales
          %p 2 X 30 minute consults with a published author
          %p Full Service, Copywriting, Editing, Publishing, and More!
        .price-column
          %h1 Basic
          .price-block
            %span.currency $
            9
            %span.super 99
            .note (2 semi-annual payments)
          %p Personalized Book Incubator Portal
          %p Exclusive Crowdscribed crowdfunding tool
          %p Digital Marketing Landing Page
          %p HTML email set up
          %p Digital marketing guide
          %p Monthly digital marketing consult via email
          %p Conversion for print, plus 25 printed copies
          %p ISBN, PCN, access for global distribution &amp; sales
          %p 2 X 30 minute consults with a published author
          %p Full Service, Copywriting, Editing, Publishing, and More!
        .price-column
          %h1 Print
          .price-block
            $49
            %sup 99
            .note (2 semi-annual payments)
          %p Personalized Book Incubator Portal
          %p Exclusive Crowdscribed crowdfunding tool
          %p Digital Marketing Landing Page
          %p HTML email set up
          %p Digital marketing guide
          %p Monthly digital marketing consult via email
          %p Conversion for print, plus 25 printed copies
          %p ISBN, PCN, access for global distribution &amp; sales
          %p 2 X 30 minute consults with a published author
          %p Full Service, Copywriting, Editing, Publishing, and More!
        .price-column
          %h1 Print Premium
          .price-block
            $89
            %sup 99
            .note (2 semi-annual payments)
          %p Personalized Book Incubator Portal
          %p Exclusive Crowdscribed crowdfunding tool
          %p Digital Marketing Landing Page
          %p HTML email set up
          %p Digital marketing guide
          %p Monthly digital marketing consult via email
          %p Conversion for print, plus 25 printed copies
          %p ISBN, PCN, access for global distribution &amp; sales
          %p 2 X 30 minute consults with a published author
          %p Full Service, Copywriting, Editing, Publishing, and More!
        .price-column
          %h1 CS Pro
          .price-block
            Call
            .note for quote
          %p Personalized Book Incubator Portal
          %p Exclusive Crowdscribed crowdfunding tool
          %p Digital Marketing Landing Page
          %p HTML email set up
          %p Digital marketing guide
          %p Monthly digital marketing consult via email
          %p Conversion for print, plus 25 printed copies
          %p ISBN, PCN, access for global distribution &amp; sales
          %p 2 X 30 minute consults with a published author
          %p Full Service, Copywriting, Editing, Publishing, and More!
