=content_for :page_title do
  Christian Piatt

.container
  .row
    .col-md-5.col-md-offset-1
      %h1 Christian Piatt

      %p
        =image_tag 'authors/piatt.jpeg'

      %p
        Christian Piatt is an author, editor, speaker, musician and spoken word
        artist. He co-founded Milagro Christian Church in Pueblo, Colorado with
        his wife, Rev. Amy Piatt, in 2004. Currently he serves as the Director
        of Acquisitions and Author Development for Crowdscribed, and as the
        Director of Growth and Development for
        =link_to 'First Christian Church (DOC) in Portland, OR.', 'http://www.fccpdx.com/', target: '_blank'

      %p
        Christian is the creator and editor of the Banned Questions book series,
        which include
        =link_to 'Banned Questions About the Bible', 'http://www.amazon.com/Banned-Questions-about-Bible-Christian/dp/0827202466/ref=sr_1_1?ie=UTF8&qid=1380590035&sr=8-1&keywords=banned+questions+about+the+bible', target: '_blank'
        ,
        =link_to 'Banned Questions About Jesus', 'http://www.amazon.com/Banned-Questions-About-Jesus-Christian/dp/0827202695/ref=sr_1_2?ie=UTF8&qid=1380590222&sr=8-2&keywords=banned+questions+about+the+bible', target: '_blank'
        and
        =link_to 'Banned Questions About Christians.', 'http://www.chalicepress.com/', target: '_blank'
        He co-created and co-edits the WTF: Where’s the Faith? young adult series
        with Chalice Press, for which he also co-edited the book
        =link_to 'Split Ticket: Independent Faith in a Time of Partisan Politics', 'http://www.amazon.com/Split-Ticket-Independent-Partisan-Politics/dp/0827234740/ref=sr_1_4?s=books&ie=UTF8&qid=1378600109&sr=1-4', target: '_blank'
        , and contributed a chapter to
        =link_to 'Oh God, Oh God, Oh God!: Young Adults Speak Out About Sexuality and Christianity', 'http://www.amazon.com/Oh-God-Adults-Sexuality-Christianity/dp/0827227302/ref=sr_1_1?ie=UTF8&qid=1380590182&sr=8-1&keywords=oh+god+oh+god+oh+god', target: '_blank'

      %p
        Christian has a memoir on faith, family and parenting called
        =link_to 'PregMANcy: A Dad, a Little Dude and a Due Date.', 'http://www.amazon.com/PregMANcy-Dad-Little-Dude-Date/dp/082723032X/ref=sr_1_1?ie=UTF8&qid=1380590270&sr=8-1&keywords=pregmancy', target: '_blank'
        His first book for Jericho Books, called
        =link_to 'postChristian: What’s Left? Can We Fix It? Do We Care?', 'http://www.jerichobooks.com/', target: '_blank'
        comes out in hardback in August, 2014.
        
      %p
        Christian’s first book,
        =link_to 'LOST: A Search for Meaning', 'http://www.amazon.com/Lost-Search-Meaning-Christian-Piatt/dp/082722138X', target: '_blank'
        , came out in 2006,
        followed by
        =link_to 'MySpace to Sacred Space: God for a New Generation', 'http://www.amazon.com/Myspace-Sacred-Space-God-Generation/dp/082722334X/ref=sr_1_1?s=books&ie=UTF8&qid=1380590406&sr=1-1&keywords=MySpace+to+Sacred+Space%3A+God+for+a+New+Generation', target: '_blank'
        in 2007, which was co-authored with Amy.

      %p
        =link_to "Check out Christian's website here!", 'http://www.christianpiatt.com/', target: '_blank'

      %h1 Social Links

      =link_to 'https://twitter.com/christianpiatt', target: '_blank' do
        =image_tag 'social/twitter.png'
      =link_to 'https://www.facebook.com/christianpiattauthor', target: '_blank' do
        =image_tag 'social/facebook.png'
      =link_to 'https://instagram.com/christianpiatt/', target: '_blank' do
        =image_tag 'social/instagram.png'
      =link_to 'https://www.youtube.com/user/christianpiatt', target: '_blank' do
        =image_tag 'social/youtube.png'

      %p &nbsp;
    .col-md-5
      %h1 Published Titles

      %p
        =image_tag 'books/post-christian-sm.jpeg', class: 'pull-right right-image'
        In postChristian, Piatt demonstrates how we can take the "Christian vices"
        inherent in our religion-such as pride, unquestioning certainty, and
        judgment- and transform them into "Christian virtues"- humility, faith,
        and mercy- in both sermon and practice. He demonstrates that it's not just
        the "sinner" who needs redemption, but Christianity itself- and redemption
        is only possible once we start admitting that we are both faithful and also
        flawed. With searing honesty and razor sharp wit, Piatt shows us that it's
        not always what you believe that matters most to the world, but how you
        live your beliefs out. 

      %p.clear
        =link_to 'Buy now', 'http://www.barnesandnoble.com/w/postchristian-christian-piatt/1113742246?ean=9781455573110', class: 'btn btn-primary', target: '_blank'

      %p
        =image_tag 'books/blood-doctrine.jpeg', class: 'pull-right right-image'
        What would happen if scientists were to take blood samples from ancient
        relics of Jesus' crucifixion and extract the DNA in order to create a clone?

      %p
        The self-proclaimed antagonist, God nerd and author, Christian Piatt, has
        been intrigued by this very idea for some time. After researching and
        talking with geneticists, Piatt came up with the concept for his debut
        novel, Blood Doctrine, which is to be the first in a series,

      %p
        Blood Doctrine begins during a tense moment in a closed off room with a
        woman having complications during childbirth. With no care about the woman
        giving birth, the doctors are told by a man from a group known only as
        "The Project" that the baby is all that matters...

      %p
        =link_to 'Buy now', 'http://www.christianpiatt.com/#!online-store/c1od1', class: 'btn btn-primary', target: '_blank'
