=content_for :page_title do
  Confronting the Predicament of Belief

.container
  .row
    .col-md-4
      =image_tag 'books/confronting-the-predicament-of-belief.jpg', class: 'lead-image'

      %h1 The Authors

      %p
        %figure
          =image_tag 'authors/knapp.jpg'
          %figcaption
            Steven Knapp

      %p
        %figure
          =image_tag 'authors/clayton.jpg'
          %figcaption
            Philip Clayton
    .col-md-4
      %h1 Book Overview

      %p
        Instead of suppressing doubts about religious claims, what if we engage
        them head-on? Imagine theologians who welcome the uncomfortable
        questions rather than immunizing their proposals from criticisms. What
        happens when discussions of the deepest issues—God and science, faith
        and doubt, suffering and evil, death and resurrection—are guided by the
        real-life challenges of believing and living in today’s world? The
        probing queries and constructive replies published here for the first
        time invite readers into the living experience of doubt and faith, the
        spiritual quest of our age. They invite readers to consider not only
        what they believe, but also how they hold their beliefs . . . and what
        they do with them in everyday life.

      %p
        The genesis of this book explains its effectiveness. A few years ago,
        Philip Clayton and Steve Knapp published a major presentation of the
        “predicament of belief” and offered a defense of Christian faith in
        light of the dominant doubts of our day. An Adventist Sabbath School
        class in Loma Linda undertook an in-depth study of the book, inviting
        the authors for probing dialogues. Eight of its members — spending the
        spectrum from evangelical to post-Christian, from theologians to
        scientists — then prepared careful critiques, which now form the heart
        of the present volume. In response, Clayton and Knapp have contributed
        an important new essay on why, and how, Christian belief remains viable
        in this age of science and religious pluralism.
