=content_for :page_title do
  Sign up complete!

.container
  .row
    .col-md-6
      You request for an account has been received. Once you have verified your
      email address, we will review your submission. We will send you an email
      once your account has been approved.

