-content_for :page_title do
  Traditional vs P.O.D. Print Run 

.container.container-default
  .row
    .col-md-8
      %p
        Most authors can't afford a big print run of several thousand books
        like a big publisher, and they lack the e-commerce, packaging and
        shipping infrastructure to process and fulfill orders. We provide
        everything an author needs to work like a big-time publisher in the
        marketplace, while also being smarter about their investment. 

      %p
        Say you write a typical 60,000-word paperback book and you sell 200
        copies a month. Following is a cost scenario we ran for a publisher
        who sells an average of 18 book in an order. The graph here shows how
        long it would take a regular 3,000-book print run just to break even,
        as well as how many books you would have to sell in the traditional
        model (assuming you have the fulfillment infrastructure to handle the
        orders) to be more profitable than the Crowdscribed model. 

      %p
        This model also assumes your book is priced at about $15 and sells at
        54% of retail (typical wholesale discount through a retailer like
        Amazon. While the up-front printing investment for traditional printing
        is over $7,000, the Crowdscribed model only prints books once they're
        ordered, so you don't have to invest in books you're not selling.  

      =image_tag 'pages/comparison_chart.png', class: 'img img-responsive'

      %p
        Cost structures vary depending on each customer's book, pricing and
        sales source. This graph is for illustration purposes only and does
        not reflect any guarantee of sales or profitability guaranteed by
        Crowdscribed for any client.
