-# Top section, guy in jacket
%section#top-section
  .row
    .col-md-5.col-md-offset-7
      =image_tag 'quote.png', class: 'quote-image'
      =link_to 'Sign Up Free', new_user_registration_path, class: 'sign-up-btn btn btn-lg btn-primary'
