-content_for :page_title do
  What We Do

.container.container-default
  .row
    .col-md-8
      %p
        Crowdscribed is unique in the publishing marketplace in a few ways. By
        combining “Print on Demand” (P.O.D.) services, married with an
        automated global ordering, customer service, e-commerce, distribution
        and fulfillment system, we can provide everything a publisher or author
        needs, not only all the way through design, editorial and production,
        but from the point of sale until product delivery as well. 
      =image_tag 'pages/what_we_do.png', class: 'img img-responsive'
      %p
        We also work with more than publishing houses directly; because of the
        unprecedented custom publishing, crowdfunding and platform building
        components being rolled out in our new site, authors can interact
        directly with, and therefore grow, their fanbase with us. Authors and
        publishers can get immediate feedback from potential customers about
        what they want and whether they are willing to support a title before
        the book is produced. Publishers can test out promising authors or
        titles from established writers who have a new or out-of-genre project.
        Meanwhile the fanbase for these authors grows, they have a system for
        engaging the public directly, which then leads to greater assurance of
        a title’s success once it is released.
      %p
        Finally, because of the network of partners we employ, we are able to
        compress the production timeline for most titles. In most cases, once
        a book is ready for edit, it can be brought to market in only a few
        months. Titles can be more timely, with less initial investment and a
        growing base of  fans to whom authors and/or their publisher can market
        directly.
