=content_for :page_title do
  Why We Do It

.container.container-default
  .row
    .col-md-8
      %p
        Crowdscribed was founded on the idea that, with both the advent of
        digital technology and the subsequent effect it has had on our culture,
        the publishing industry inevitably would have to change as well. Readers
        no longer just want to read a book; they want to know the person who
        created it. And increasingly, authors are expected to build their own
        fanbase, market their own titles, and be the primary means of marketing
        a book, whether or not a publisher puts it out.

      %p
        Meanwhile, publishers struggle with ever-decreasing margins while tied
        to traditional warehouse-based printing and distribution systems. With
        a large upfront investment in every book released, they must be
        risk-averse, which has resulted in the retraction of the “Big Six”
        houses as they lean on time-tested best sellers and celebrity-driven
        media figures.

      %p
        =image_tag 'pages/why_we_do_it.jpg', class: 'img-rounded pull-right', width: '300px'
        But where there are clear needs not being met both for authors and
        publishers, we imagined solutions. By combining P.O.D. technology with
        comprehensive publishing and marketing resources, we can help authors
        who hbooks-magazines-building-schoolave potential but who don’t quite
        meet the sales threshold required by publishers. We assist them in
        fine-tuning their skill sets, crafting their books and building their
        platforms so that when or if they do approach a publisher for their
        next deal, the case they make for their viability is undeniable.

      %p
        Publishers recognize the need to be more adaptable and streamlined too,
        though shifting from traditional systems and thinking to a 21st-century
        culture isn’t easy. So it’s our mission to help them get where they
        need to be. By eliminating costly warehouse shipping and fulfillment
        models, we significantly reduce per-title overhead investment. By
        offering their authors the tools to build, and engage with, their
        audience, we empower them with an invaluable set of marketing tools.
        And by incorporating a comprehensive crowdfunding tool into the
        Crowdscribed site, publishers can even try out promising writers and
        titles, seeing what people like before the book goes to market, and
        helping cover the cost of publishing before a single dollar is spent.

      %p
        We are facilitators, curators, connectors. We bring publishers, authors
        and readers together in ways they’ve never connected before. We employ
        the tools we believe will revolutionize how books are both created,
        published and read. Ideas and craft are both important, but ultimately,
        the book business is about people. It’s about connection and
        relationship.

      %p
        Our company motto is simple:
        %strong
          Content. Community. Together.
        It’s our mission to help create both great content and vibrant
        community, then to bring those two things together. When it works, it’s
        something special, and we’re proud to help make it happen.
