-content_for :page_title do
  Why the Model Works

.container.container-default
  .row
    .col-md-8
      %h1 Traditional Limitations
      %ul
        %li
          The economics of traditional publishing limits the titles that can be
          published through existing publishing houses.
        %li
          The process is long (12-24 months), and the author gives up
          significant editorial control in most cases.
        %li
          For readers, they have to read what the traditional houses guess or
          hope they will like; they have no voice in what books should be published.
        %li
          For publishers, each new title presents substantial financial risk.
          And the more consolidated retail book outlets become, the tougher it
          is for them to take risks on new authors.
        %li
          For retailers, shelf space is limited and expensive; too many titles
          fail to sell.
        %li
          The alternative is self-publishing, which has exploded. But it’s hard
          to be discovered amid all of the independent titles.
        %li
          Also, many authors, though good writers, lack the technical and
          marketing experience to give their book the greatest chance of success.
      %h1 Crowdscribed Advantage
      %ul
        %li
          P.O.D. production and fulfillment model reduces upfront investment
          per title, eliminates overhead for warehouses and staff to fulfill
          orders.
        %li
          Beginning-to-end support for every step of the publishing business
          allows publishers to focus primarily on the creative components of
          their business.
        %li
          Shortened timelines from concept to product delivery allows topics to
          be more timely and relevant to present cultural context.
        %li
          The “Pretail” model allows publishers the opportunity to earn back
          their investment before the book even goes to print.
        %li
          The combination of reduced initial costs per title and options to
          crowdfund prospective titles allows publishers to be broader and
          more experimental in their author and title choices.  
        %li
          We help authors develop not only their book concepts, but also their
          overall author brand and platform.
        %li
          Platform building, author coaching and e-commerce solutions are
          bundled together help authors grow their platforms and subsequently
          increase sales volume.  
        %li
          We connect authors and readers at the beginning of the publishing
          cycle, helping give readers what they want, and helping authors
          produce better books.
        %li
          Books that meet their initial goals pay for themselves, and they
          demonstrate viability to traditional publishers and retailers. 
        %li
          We have sales, marketing, editorial, design and distribution resources
          comparable to big traditional publishing houses.
