%h1 Book edited

%p
  =@book_version.book.author.full_name
  has edited an approved book, #{h =@book_version.title}, which now needs to be reviewed again.

%p
  There are currently
  =pluralize(BookVersion.pending.count, 'book')
  waiting to be approved.

%p
  =link_to 'Click here', new_administrator_session_url
  to sign in and review them.
