Contribution Received!
:plain

The campaign for #{h @book.administrative_title} by #{h @author.full_name} has received a contribution in the amount of #{h number_to_currency(@contribution.amount)}.
:plain

Follow this link to sign in and see the progress of the campaign
=new_administrator_session_url
