%h1 Donation Received!

The campaign for
%i=@book.administrative_title
by #{h @author.full_name}
has received a donation in the amount of #{h number_to_currency(@donation.amount)}.

%p
  =link_to 'Click here', new_administrator_session_url
  to sign in and see the progress of the campaign.
