.row
  .col-md-6
    .form-group{ :class => form_group_class(@book_version, :title) }
      =f.label :title, class: 'control-label'
      =f.text_field :title, class: 'form-control', autofocus: true
      =help_blocks @book_version, :title
    .form-group{ :class => form_group_class(@book_version, :short_description) }
      =f.label :short_description, class: 'control-label'
      =f.text_area :short_description, class: 'form-control', rows: 5
      =help_blocks @book_version, :short_description
    .form-group{ :class => form_group_class(@book_version, :long_description) }
      =f.label :long_description, class: 'control-label'
      =f.text_area :long_description, class: 'form-control', rows: 10
      =help_blocks @book_version, :long_description
    .form-group
      =f.label :cover_image_file, class: 'control-label'
      =f.file_field :cover_image_file, class: 'form-control'
      =help_blocks @book_version, :cover_image_file
    .form-group
      =f.label :sample_file, class: 'control-label'
      =f.file_field :sample_file, class: 'form-control'
      =help_blocks @book_version, :sample_file
  .col-md-6
    .form-group
      =f.label :genres, 'Genres', class: 'control-label'
      .row.genre-list
        -genre_groups(2).each do |genre_group|
          .col-sm-6
            -genre_group.each do |genre|
              .checkbox
                =label_tag "genres_#{genre.id}" do
                  =check_box_tag 'genres[]', genre.id, @book_version.genres.map(&:id).include?(genre.id), id: "genres_#{genre.id}"
                  =genre.name
.row
  .col-md-6
    .form-group
      =f.submit 'Submit', class: 'btn btn-primary', title: 'Click here to submit the book.'
      =link_to 'Back', author_books_path(@author), class: 'btn btn-default', title: 'Click here to return to the list of books.'
