.row
  .col-md-6
    .form-group{ :class => form_group_class(@book_version, :title) }
      =label_tag 'book_version[title]', 'Title', class: 'control-label'
      =text_field_tag 'book_version[title]', @book_version.title, class: 'form-control', autofocus: true
      =help_blocks @book_version, :title
    .form-group{ :class => form_group_class(@book_version, :short_description) }
      =label_tag 'book_version[short_description]', 'Short description', class: 'control-label'
      =text_area_tag 'book_version[short_description]', @book_version.short_description, class: 'form-control', rows: 5
      =help_blocks @book_version, :short_description
    .form-group{ :class => form_group_class(@book_version, :long_description) }
      =label_tag :long_description, 'Long description', class: 'control-label'
      =text_area_tag :long_description, @book_version.long_description, class: 'form-control', rows: 10
      =help_blocks @book_version, :long_description
    .form-group
      =label_tag 'book_version[cover_image_file]', 'Cover image', class: 'control-label'
      =file_field_tag 'book_version[cover_image_file]', class: 'form-control'
      =help_blocks @book_version, :cover_image_file
    .form-group
      =label_tag 'book_version[sample_file]', 'Sample file', class: 'control-label'
      =file_field_tag 'book_version[sample_file]', class: 'form-control'
      =help_blocks @book_version, :sample_file
  .col-md-6
    .form-group
      =label_tag :genres, 'Genres', class: 'control-label'
      .row.genre-list
        -genre_groups(2).each do |genre_group|
          .col-sm-6
            -genre_group.each do |genre|
              .checkbox
                =label_tag "genres_#{genre.id}" do
                  =check_box_tag 'book_version[genres][]', genre.id, @book_version.genres.map(&:id).include?(genre.id), id: "genres_#{genre.id}"
                  =genre.name
.row
  .col-md-6
    .form-group
      =submit_tag 'Submit', class: 'btn btn-primary', title: 'Click here to submit the book.'
      =link_to 'Back', author_books_path(@author), class: 'btn btn-default', title: 'Click here to return to the list of books.'
