=content_for :page_title do
  Books
.container.container-default
  .row
    .col-md-10.col-md-offset-1
      .grid
        -@books.each do |book|
          .grid-item.book
            .author.sr-only= book.author.full_name
            .title.sr-only= book.title
            =link_to book_version_path(book.id) do
              =figure_tag cover_image_path(book), book.title do
                =book.short_description
