=content_for :page_title do
  New book

.container.container-default
  =form_for([@author, @book]) do |f|
    =fields_for :version, @book_version do |version_fields|
      =render 'form_fields', f: version_fields
