=content_for :page_title do
  Book

.container.container-default
  .row
    .col-md-12
      -if can?(:update, @book) && @book.pending?
        .alert.alert-info
          This book is under review. We will review it as soon as we can.
      %h1#book-title= @book.title
      -if @book.genres.any?
        %ul.tag-list
          -@book.genres.each do |genre|
            %li=genre.name
  .row
    -if @book.cover_image_id
      .col-md-5
        %img{ src: image_path(@book.cover_image_id), class: 'img-rounded img-responsive' }
    .col-md-5
      =mark_up @book.long_description || @book.short_description
    -if administrator_signed_in?
      .col-md-2.btn-stack
        =render 'shared/approval_buttons', resource: @book
