-content_for :header do
  %script{ src: 'https://js.braintreegateway.com/js/braintree-2.27.0.min.js' }
%form#payment-form{ action: '/', method: :post }
  %fieldset
    #card-number-group.form-group
      %label.control-label{ for: 'card-number' } Card number
      #card-number.braintree-field
      %span#card-number-help.help-block{ style: 'display:none;' } Credit card is not valid
    #cvv-group.form-group
      %label.control-label{ for: 'cvv' } CVV
      #cvv.braintree-field
      %span#cvv-help.help-block{ style: 'display:none;' } CVV is not valid
    #expiration-date-group.form-group
      %label.control-label{ for: 'expiration-date' } Expiration date
      #expiration-date.braintree-field
      %span#expiration-date-help.help-block{ style: 'display:none;' } Expiration date is not valid
    %button#payment-button.ng-hide{ type: 'submit' }
:coffeescript
  window.paymentReceivedCallbacks = $.Callbacks()
  braintree.setup '#{h Braintree::ClientToken.generate}', 'custom',
    id: 'payment-form'
    onPaymentMethodReceived: (details)->
      window.paymentReceivedCallbacks.fire(details)
    hostedFields:
      number:
        selector: '#card-number'
      cvv:
        selector: '#cvv'
      expirationDate:
        selector: '#expiration-date'
      onFieldEvent: (e) ->
        selector = switch e.target.fieldKey
          when 'number' then '#card-number'
          when 'cvv' then '#cvv'
          when 'expirationDate' then '#expiration-date'
        if e.isValid
          $(selector + '-group').addClass('has-success').removeClass('has-error')
          $(selector + '-help').hide()
        else
          $(selector + '-group').addClass('has-error').removeClass('has-success')
          $(selector + '-help').show()
