-if PAYMENT_PROVIDER.is_a? PaymentProvider::BraintreePaymentProvider
  =render 'braintree_payment_form'
-elsif PAYMENT_PROVIDER.is_a? PaymentProvider::NilPaymentProvider
  =render 'test_payment_form'
