.form-group
  %label{ for: 'card_number' } Card number
  =text_field_tag :card_number, '', class: 'form-control'
.form-group
  %label{ for: 'CVV' } CVV
  =text_field_tag :CVV, '', class: 'form-control'
.form-group
  %label{ for: 'expiration_date' } Expiration date
  =text_field_tag :expiration_date, '', class: 'form-control'
