=content_for :page_title do
  Make a contribution!

.container.container-default{ 'ng-app' => 'Crowdscribed' }
  .row
    .col-md-12
      %h1 Contribute!
      %h2
        Support the book
        %i= @campaign.book.approved_version.title
        by
        =@campaign.book.author.full_name
        with a contribution.
      .app{ 'ng-controller' => 'ContributionController as contributionCtl' }
        {{ test }}
