=content_for :page_title do
  Make a contribution!

.container.container-default.contribution{ 'ng-app' => 'Crowdscribed', 'ng-controller' => 'ContributionController as contributionCtl', 'ng-init' => "campaignId = #{@campaign.id}" }
  %h1 Contribute!
  %h2
    Support the book
    %i= @campaign.book.approved_version.title
    by
    =@campaign.book.author.full_name
    with a contribution.
  .row
    .col-md-8
      .app
        .row.reward-option{ 'ng-repeat' => 'reward in rewards', 'ng-class' => '{selected: reward.selected}', 'data-reward-id' => '{{reward.id}}', 'ng-click' => 'handleRewardButtonClick($event)' }
          .col-sm-2
            .reward-contribution-amount
              {{ reward.minimum_contribution | currency : $ : 0}}
          %div{ 'ng-class' => '{"col-sm-6": reward.photo_id, "col-sm-10": !reward.photo_id}' }
            .reward-header {{ reward.working_description }}
            .reward-description
              {{ reward.working_long_description }}
          .col-sm-4{ 'ng-if' => 'reward.photo_id' }
            %img.img.img-responsive.img-rounded{ 'ng-src' => '/images/{{reward.photo_id}}' }
        .row.reward-option{ 'ng-class' => '{selected: !selectedRewardId}' }
          .col-sm-2
            %input.form-control.custom-reward-amount{ type: 'number', 'ng-model' => 'customContributionAmount', 'ng-focus' => 'clearSelection()' }
          .col-sm-10
            .reward-header Choose your amount
            %div{ 'ng-show' => 'availableRewards.length > 0' }
              Select one of the following:
              .radio{ 'ng-repeat' => 'reward in availableRewards' }
                %label
                  %input{ type: 'radio', name: 'custom_amount_reward', value: '{{reward.id}}' }
                  {{ reward.description }}
              .radio
                %label
                  %input{ type: 'radio', name: 'custom_amount_reward', value: '' }
                  I don't require anything in return for my contribution
    .col-md-4

