=content_for :page_title do
  Make a contribution!

.container.container-default{ 'ng-app' => 'Crowdscribed' }
  .row
    .col-md-12
      %h1 Contribute!
      %h2
        Support the book
        %i= @campaign.book.approved_version.title
        by
        =@campaign.book.author.full_name
        with a contribution.
      .app{ 'ng-controller' => 'ContributionController as contributionCtl', 'ng-init' => "campaignId = #{@campaign.id}" }
        %ul.reward-list
          %li.reward-option{ 'ng-repeat' => 'reward in rewards' }
            %button.pull-left.btn.btn-lg.btn-success
              {{ reward.minimum_contribution | currency : $ : 0}}

            %img.img.img-responsive.img-rounded.pull-right{ 'ng-if' => 'reward.photo_id', 'ng-src' => 'images/{{reward.photo_id}}' }

            %h3 {{ reward.description }}
            %p.reward-description
              {{ reward.long_description }}
