=content_for :page_title do
  Make a contribution!

.container.container-default
  =form_for(@contribution, url: pay_contribution_path(@contribution)) do |f|
    -if @fulfillment
      =fields_for :fulfillment, @fulfillment do |fulfillment_fields|
        =fulfillment_fields.hidden_field :reward_id
    .row
      .col-md-12
        =fields_for :payment, @payment do |payment_fields|
          .col-md-4
            =render 'credit_card_form_fields', f: payment_fields
          .col-md-4
            .row
              .col-md-12
                .form-group{ :class => form_group_class(@contribution, :email) }
                  =f.label :email, class: 'control-label'
                  =f.text_field :email, class: 'form-control', maxlength: 256
                  =help_blocks @contribution, :email
                .row
                  .col-md-12
                    =render 'address_form_fields', f: payment_fields, model: @payment
    .row
      .col-md-12
        =f.submit 'Submit', class: 'btn btn-primary'
