=content_for :page_title do
  Make a contribution!

.container.container-default
  .row
    .col-md-6
      =form_for(@contribution, url: set_reward_contribution_path(@contribution)) do |f|
        -@campaign.rewards.for_amount(@contribution.amount).by_minimum_contribution.each do |reward|
          %h3
            .radio
              %label{ for: "contribution_amount_option_#{reward.id}" }
                =radio_button_tag 'fulfillment[reward_id]', reward.id, id: "contribution_amount_option_#{reward.id}"
                =reward.description
        %h3
          .radio
            %label{ for: "contribution_amount_option_none" }
              =radio_button_tag 'fulfillment[reward_id]', '', id: "contribution_amount_option_none"
              I don't require anything in return for my contribution.
        =f.submit 'Next', class: 'btn btn-primary'
