The campaign for #{h @campaign.book.administrative_title} by #{h @campaign.book.author.full_name} has collected #{h number_to_currency(@campaign.total_donated, precision: 0)}, reaching its goal of #{h number_to_currency(@campaign.target_amount, precision: 0) }
:plain

Sign in for more details
=new_administrator_session_url
