-content_for :page_title do
  New author bio

.container.container-default
  .row
    .col-md-6
      =form_for([:admin, @bio.author, @bio]) do |f|
        =render 'bios/form_fields', f: f, bio: @bio, submit_caption: 'Save'
