.row
  .col-md-4
    -if book_version.cover_image_id
      %img{ src: image_path(book_version.cover_image_id), class: 'img-rounded img-responsive' }
    -if book_version.sample_id
      %p.sample-container
        %a.sample-link{ href: image_path(book_version.sample_id), target: '_blank' } Download a sample
    -if book_version.genres.any?
      %ul.tag-list
        -book_version.genres.each do |genre|
          %li=genre.name
  .col-md-8
    =mark_up book_version.long_or_short_description
    -if book_version.active_campaign.present?
      =link_to 'Donate!', new_campaign_donation_path(book_version.active_campaign), :class => 'btn btn-lg btn-success', :title => 'Click here to contribute to the campaign to make this book a reality!'
