=content_for :javascript do
  =javascript_include_tag 'wysiwyg'
  =stylesheet_link_tag 'wysiwyg'
=content_for :after_footer do
  :javascript
    $(function() {
      $('.wysiwyg').froalaEditor();
    });
.row
  .col-md-6
    .form-group{ :class => form_group_class(book_resource, :title) }
      =f.label :title, class: 'control-label'
      =f.text_field :title, class: 'form-control', autofocus: true
      =help_blocks book_resource, :title
    .form-group{ :class => form_group_class(book_resource, :short_description) }
      =f.label :short_description, class: 'control-label'
      =f.text_area :short_description, class: 'form-control wysiwyg', rows: 5
      =help_blocks book_resource, :short_description
    .form-group{ :class => form_group_class(book_resource, :long_description) }
      =f.label :long_description, class: 'control-label'
      =f.text_area :long_description, class: 'form-control wysiwyg', rows: 10
      =help_blocks book_resource, :long_description
    .form-group
      -if book_resource.cover_image_id
        .row
          .col-sm-6
            %img{ src: image_path(book_resource.cover_image_id), class: 'img img-responsive img-rounded pull-left' }
            =f.hidden_field :cover_image_id
          .col-sm-6
            =f.label :cover_image_file, class: 'control-label'
            =f.file_field :cover_image_file, class: 'form-control'
            =help_blocks book_resource, :cover_image_file
            %p.instructional
              The cover image file should be a JPEG (JPG), PNG, or GIF. It will automatically
              be reduced to fit 1024 x 1024 pixels on upload if either the height or the
              width is greater than 1024. Please do not upload files that are substantially 
              larger than that.
      -else
        =f.label :cover_image_file, class: 'control-label'
        =f.file_field :cover_image_file, class: 'form-control'
        =help_blocks book_resource, :cover_image_file
        %p.instructional
          The cover image file should be a JPEG (JPG), PNG, or GIF. It will automatically
          be reduced to fit 1024 x 1024 pixels on upload if either the height or the
          width is greater than 1024. Please do not upload files that are substantially 
          larger than that.
    .form-group{ :class => form_group_class(book_resource, :sample_file) }
      =f.label :sample_file, class: 'control-label'
      -if book_resource.sample_id
        .row
          .col-sm-3
            =link_to 'Download existing', image_path(book_resource.sample_id), class: 'sample-link'
            =f.hidden_field :sample_id
          .col-sm-9
            =f.file_field :sample_file, class: 'form-control'
            =help_blocks book_resource, :sample_file
            %p.instructional
              Sample files should be in PDF format. The sample should include enough of the
              book content to engage the reader without giving away the entire story.
      -else
        =f.file_field :sample_file, class: 'form-control'
        =help_blocks book_resource, :sample_file
        %p.instructional
          Sample files should be in PDF format. The sample should include enough of the
          book content to engage the reader without giving away the entire story.
  .col-md-6
    .form-group{ :class => form_group_class(book_resource, :genres) }
      =f.label :genres, 'Genres', class: 'control-label'
      .instructional Select up to 3 genres
      .row.genre-list
        -genre_groups(2).each do |genre_group|
          .col-sm-6
            -genre_group.each do |genre|
              .checkbox
                =label_tag "genres_#{genre.id}" do
                  =check_box_tag "#{book_resource.model_name.to_s.underscore}[genres][]", genre.id, book_resource.genres.map(&:id).include?(genre.id), id: "genres_#{genre.id}"
                  =genre.name
      =help_blocks book_resource, :genres
.row
  .col-md-6
    .form-group
      =f.submit 'Submit', class: 'btn btn-primary', title: 'Click here to submit the book.'
      =link_to 'Back', books_path, class: 'btn btn-default', title: 'Click here to return to the list of books.'
