.row
  .col-md-6
    .form-group{ :class => form_group_class(book_resource, :title) }
      =f.label :title, class: 'control-label'
      =f.text_field :title, class: 'form-control', autofocus: true
      =help_blocks book_resource, :title
    .form-group{ :class => form_group_class(book_resource, :short_description) }
      =f.label :short_description, class: 'control-label'
      =f.text_area :short_description, class: 'form-control', rows: 5
      =help_blocks book_resource, :short_description
    .form-group{ :class => form_group_class(book_resource, :long_description) }
      =f.label :long_description, class: 'control-label'
      =f.text_area :long_description, class: 'form-control', rows: 10
      =help_blocks book_resource, :long_description
    .form-group
      -if book_resource.cover_image_id
        .row
          .col-sm-6
            %img{ src: image_path(book_resource.cover_image_id), class: 'img img-responsive img-rounded pull-left' }
            =f.hidden_field :cover_image_id
          .col-sm-6
            =f.label :cover_image_file, class: 'control-label'
            =f.file_field :cover_image_file, class: 'form-control'
            =help_blocks book_resource, :cover_image_file
      -else
        =f.label :cover_image_file, class: 'control-label'
        =f.file_field :cover_image_file, class: 'form-control'
        =help_blocks book_resource, :cover_image_file
    .form-group{ :class => form_group_class(book_resource, :sample_file) }
      =f.label :sample_file, class: 'control-label'
      -if book_resource.sample_id
        .row
          .col-sm-3
            =link_to 'Download existing', image_path(book_resource.sample_id), class: 'sample-link'
            =f.hidden_field :sample_id
          .col-sm-9
            =f.file_field :sample_file, class: 'form-control'
            =help_blocks book_resource, :sample_file
      -else
        =f.file_field :sample_file, class: 'form-control'
        =help_blocks book_resource, :sample_file
  .col-md-6
    .form-group{ :class => form_group_class(book_resource, :genres) }
      =f.label :genres, 'Genres', class: 'control-label'
      .row.genre-list
        -genre_groups(2).each do |genre_group|
          .col-sm-6
            -genre_group.each do |genre|
              .checkbox
                =label_tag "genres_#{genre.id}" do
                  =check_box_tag "#{book_resource.model_name.to_s.underscore}[genres][]", genre.id, book_resource.genres.map(&:id).include?(genre.id), id: "genres_#{genre.id}"
                  =genre.name
      =help_blocks book_resource, :genres
.row
  .col-md-6
    .form-group
      =f.submit 'Submit', class: 'btn btn-primary', title: 'Click here to submit the book.'
      =link_to 'Back', author_books_path(book_resource.author), class: 'btn btn-default', title: 'Click here to return to the list of books.'
