=content_for :page_title do
  Get on our mailing list!

.container.default-container
  .row
    .col-md-6
      %p{ style: 'margin-top: 1em;' }
        Our new beta test site is coming this fall. Share your name and
        email with us to find out about updates, get info on tips,
        special events and deals, and to be one of the first to help us
        test the new site as we roll it out and keep adding new features!
      =form_for(@subscriber) do |f|
        =render 'form_fields', f: f, subscriber: @subscriber
 