=content_for :page_title do
  Welcome!

.container.container-default
  .row
    .col-md-6
      You've been added to our Crowdscribed Email list. We look forward to
      sharing some exciting developments with you soon. In the meantime,
      if you'd like to check out more about us, #{h link_to 'click here', '/docs/flyer.pdf', target: '_blank'}.
