=content_for :page_title do
  Campaign for #{h @campaign.book.administrative_title}

.container.container-default
  -unless @campaign.author_ready?
    .row
      .col-md-12
        .alert.alert-warning
          You must have an approved bio before you can start a funding campaign.
  .row
    .col-md-3
      %h2 Campaign information
      =form_for @campaign do |f|
        =render 'form_fields', f: f
    .col-md-6
      #rewards
        %h2 Rewards
        =render 'rewards/list'
