=content_for :page_title do
  Campaign for #{h @campaign.book.administrative_title}

.container.container-default
  .row
    .col-md-3
      =form_for @campaign do |f|
        =render 'form_fields', f: f
    .col-md-6
      %table#rewards-table.table.table-striped
        %tr
          %th Description
          %th Minimum donation
        -@campaign.rewards.each do |reward|
          %tr
            %td= reward.description
            %td= number_to_currency(reward.minimum_donation, precision: 0)
