=content_for :page_title do
  Campaign for #{h @campaign.book.administrative_title}

.container.container-default
  -unless @campaign.author_ready?
    .row
      .col-md-12
        .alert.alert-warning
          You must have an approved bio before you can start a funding campaign.
  .row
    .col-md-4
      %h2 Campaign information
      =form_for @campaign do |f|
        =render 'form_fields', f: f
    .col-md-5
      #rewards
        %h2 Rewards
        =render 'rewards/list'
    .col-md-3
      %p Rewards are incentives for your campaign supporters, and are an important way to say 'Thank You!' to them. This can include print and electronic copies of your book, but can also include other rewards you choose to offer. Consider live webinars or special downloadable content for certain backer levels, signed copies sent personally from you, T-shirts, stickers or coasters, or even a live event for a really big donor.
      %p Just bear in mind that the only rewards Crowdscribed can fulfill are print or electronic books. Also, if you prefer to ship them yourself, we can order them in bulk and have them sent to you at a lower per-unit cost, with you handling shipping. And if you ever have questions about how to run an effective campaign, let us know. Good luck!
