=content_for :page_title do
  Campaign for #{h @campaign.book.administrative_title}

.container.container-default
  .row
    .col-md-3
      %h2 Campaign information
      =form_for @campaign do |f|
        =render 'form_fields', f: f
    .col-md-6
      #rewards
        %h2 Rewards
        %table#rewards-table.table.table-striped
          %tr
            %th Description
            %th Minimum donation
            %th &nbsp;
          -@campaign.rewards.by_minimum_donation.each do |reward|
            %tr
              %td= reward.description
              %td= number_to_currency(reward.minimum_donation, precision: 0)
              %td
                .btn-group
                  =link_to edit_reward_path(reward), class: 'btn btn-xs btn-info edit-button', title: 'Click here to edit this reward.' do
                    %span.glyphicon.glyphicon-pencil{ 'arial-hidden' => true }
                  =link_to reward_path(reward), method: :delete, class: 'btn btn-xs btn-danger delete-button', title: 'Click here to remove this reward.' do
                    %span.glyphicon.glyphicon-remove{ 'arial-hidden' => true }
        =link_to 'Add', new_campaign_reward_path(@campaign), class: 'btn btn-primary', title: 'Click here to add a reward for the campaign.'
