=content_for :page_title do
  Campaigns for #{h @book.administrative_title}

.container.container-default
  .row
    .col-md-6
      %table#campaigns-table.table.table-striped
        %tr
          %th Target date
          %th Target amount
        -@campaigns.each do |campaign|
          %tr{ class: campaign_row_class(campaign) }
            %td= format_date(campaign.target_date)
            %td= number_to_currency campaign.target_amount, precision: 0
      =link_to 'Add', new_book_campaign_path(@book), class: 'btn btn-primary', title: 'Click here to add a new campaign.'
