=content_for :page_title do
  Add campaign for #{h @book.administrative_title}

.container.container-default
  .row
    .col-md-6
      =form_for [@book, @campaign] do |f|
        =render 'form_fields', f: f
    .col-md-6
      =render 'shared/payment_fees'
