=content_for :page_title do
  Campaign progress

.container.container-default
  -if @campaign.unstarted?
    .alert.alert-warning{ role: 'alert' }
      This campaign is has not been started yet. Click the start button to make it active.
  -if @campaign.collecting?
    .alert.alert-info{ role: 'alert' }
      This campaign is closed and the funds are being collected. You will be notified when the collection process is complete.
  -if @campaign.collected?
    .alert.alert-info{ role: 'alert' }
      This campaign is closed and the funds have been collected.
  -if @campaign.cancelled? || @campaign.cancelling?
    .alert.alert-danger{ role: 'alert' }
      This campaign was cancelled and the funds were not collected.
  .row
    .col-md-12
      %h1= @campaign.book.approved_version.title
  .row
    .col-md-4
      %h2 Summary
      =render 'progress_table', campaign: @campaign
      %h2 Rewards
      =render 'reward_summary', campaign: @campaign
    .col-md-4
      %h2 Contributions
      =render 'contributions/table', campaign: @campaign, contributions: @contributions, total_pledged: @total_pledged, total_collected: @total_collected
      =will_paginate @contributions, renderer: BootstrapPagination::Rails, param_name: :contributions_page
    .col-md-2.text-center
      =render_progress_meter @campaign.current_progress
    .col-md-2
      -if @campaign.active?
        .btn-group-vertical
          =link_to 'Collect', collect_campaign_path(@campaign), method: :patch, class: 'btn btn-success', title: 'Click here to collect the contributions for this campaign.'
          -if @campaign.can_prolong?
            =link_to 'Extend', prolong_campaign_path(@campaign), method: :patch, class: 'btn btn-warning', title: 'Click here to extend the target date by 15 days. This can only be done once.'
          =link_to 'Cancel', cancel_campaign_path(@campaign), method: :patch, class: 'btn btn-danger', title: 'Click here to cancel this campaign.', 'data-confirm' => 'Are you sure you want to cancel this campaign?'
  .row
    =link_to 'Back', book_campaigns_path(@campaign.book_id), class: 'btn btn-default', title: 'Click here to return to the list of campaigns.'
  .row
    .col-md-12
      %table.footnotes
        %tr
          %th 1
          %td
            %p
              Printing estimates are based on economy print, ground shipping,
              mailed to 75007 postal code for 6" x 9" trim size "trade"
              paperback, 220 page count with color hard-back cover and
              black/white interior. Any differences will change estimate.
            %p
              E-book estimates based on average cost of past e-book
              conversions. Your actual cost may vary based on differences
              in page count, interior elements, bullet lists, indents, pictures,
              etc.
