=content_for :page_title do
  Campaign progress

.container.container-default
  .row
    .col-md-12
      %h2= @campaign.book.approved_version.title
  .row
    .col-md-6
      =render 'progress_table'
    .col-md-6
      =render_progress_meter @campaign.current_progress
