// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.tag-list {
  list-style-type: none;
  padding: 1em 0;
  li {
    display: inline-block;
    padding: {
      top: .2em;
      bottom: .2em;
      left: .5em;
      right: .5em;
    }
    border-radius: .5em;
    background: #00ADDE;
    color: #FFF;
  }
}

.book {
  margin-bottom: 1em;
}

a {
  .title, .author {
    color: #747474;
    text-decoration: none;
  }
}

.naked-book {
  width: 256px;
  height: 384px;
  border: 3px solid #00ADDE;
  border-radius: 1.5em;
  padding: 1.5em;
  text-align: center;
  font-family: courier;
}

.title {
  font-size: 250%;
  line-height: 100%;
  font-weight: bold;
  margin: 1em 0;
}

.author {
  font-size: 180%;
  line-height: 100%;
}
