#main_content {
  margin-top: 5em;
}

.nav.navbar-nav li a {
  text-transform: uppercase;
}

footer {
  background: #282a2b;
  color: #8C8989;
  padding: 2em 0;
  text-shadow: 1px 2px 1px #000;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
}

@font-face {
  font-family: Quicksand;
  src: asset-url('Quicksand-Regular.otf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Quicksand;
  src: asset-url('Quicksand-Bold.otf');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: Quicksand;
  src: asset-url('Quicksand-Italic.otf');
  font-style: italic;
  font-weight: bold;
}
