@import 'mixins';

#top_bar {
  height: 45px;
  background: #00ADDE;
  padding-top: .4em;
  padding-bottom: .4em;
  color: #FFF;
  a {
    color: #FFF;
  }
  font-size: larger;
}

#main_content {
  margin-top: 120px;
}

#admin-content {
}

.nav.navbar-nav li a {
  text-transform: uppercase;
  font-family: 'Maven-Pro', arial, helvetica, sans-serif;
  font-size: 16px;
}

.title-bar {
  background: #EAEAEA;
  color: #747474;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  text-transform: uppercase;
}

h1 {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  color: #F90;
  font-weight: bold;
  font-size: 26px;
  line-height: 27px;
}

h2 {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  color: #333;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

body {
  color: #747474;
  font-family: "PT-Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 20px;
  p {
    margin-bottom: 20px;
  }
}

.clear {
  clear: both;
}

.btn {
  text-transform: uppercase;
}

.hero-btn {
  @include center-block;
  margin-top: 1em;
  padding: .8em 2em;
}

.lead-image {
  margin-top: 1em;
}

.inline-image {
  margin: 0 1em 0.5em 0;
}
.right-image {
  margin: 0 0 0.5em 1em;
}

body > footer {
  background: #282a2b;
  color: #8C8989;
  margin-top: 2em;
  padding: 2em 0;
  text-shadow: 1px 2px 1px #000;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

ul.footer-menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    width: 20em;
    a {
      color: #8C8989;
    }
  }
}

.container-default {
  margin-top: 1em;
}

#notifications {
  margin-top: 1em;
}

.btn-stack .btn {
  margin-bottom: .5em;
}

.extra-bottom {
  margin-bottom: 1em;
}

@font-face {
  font-family: Quicksand;
  src: asset-url('Quicksand-Regular.otf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Quicksand;
  src: asset-url('Quicksand-Bold.otf');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: Quicksand;
  src: asset-url('Quicksand-Italic.otf');
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: PT-Sans;
  src: asset-url('PTS55F.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Maven-Pro;
  src: asset-url('MavenPro-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}
