// Place all the styles related to the Contributions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reward-description {
}

.reward-option {
  margin: {
    top: 1em;
  }
  padding: 1em;
  cursor: pointer;
}

.reward-contribution-amount {
  text-align: right;
  border-radius: 0.5em;
  font-size: 200%;
  font-weight: bold;
  background-color: #2C8598;
  color: #fff;
  padding: {
    top: 1em;
    bottom: 1em;
    right: 1em;
  }
}

.contribution {
  .selected {
    background: #AAD8E5;
    color: #000;
    border-radius: 1em;
  }
}

.reward-header {
  font-size: 150%;
}

.custom-reward-amount {
  font-size: 200%;
  text-align: right;
  padding-right: 1em;
}
