// Place all the styles related to the Contributions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reward-description {
}

.reward-option {
  margin: {
    top: 1em;
  }
  padding: 1em;
  cursor: pointer;
}

.reward-contribution-amount {
  text-align: right;
  border-radius: 0.5em;
  font-size: 200%;
  font-weight: bold;
  background-color: #2C8598;
  color: #fff;
  padding: {
    top: 1em;
    bottom: 1em;
    right: 1em;
  }
}

.contribution {
  .selected {
    background: #AAD8E5;
    color: #000;
    border-radius: 1em;
  }
}

.reward-header {
  font-size: 150%;
}

.custom-reward-amount {
  height: 2em;
  font-size: 200%;
  text-align: right;
  padding-right: 1em;
}

// Credit card fields
.braintree-field {
  height: 34px;
  border: 1px solid #CCC;
  border-radius: 4px;
  padding: {
    left: 1em;
  }
  -webkit-transition: border-color 160ms;
  transition: border-color 160ms;
  &.braintree-hosted-fields-focused {
    border-color: #777;
  }
  &.braintree-hosted-fields-invalid {
    border-color: #843534;
  }
  &.braintree-hosted-fields-valid {
    border-color: #3c763d;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  text-align: center;
  background: rgba(128, 128, 128, 0.5);
  .panel{
    width: 512px;
    margin-top: 256px;
  }
}

.ui-progressbar-value {
  background: #F79954;
}
