// Place all the styles related to the Contributions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reward-description {
}

.reward-option {
  margin: {
    top: 1em;
  }
}

.reward-header {
  font-size: 150%;
}

.selected-reward {
  border: solid blue 2px;
}
