// Place all the styles related to the Contributions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reward-description {
  margin-left: 1em;
}

.reward-list {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  li {
    margin: 1em;
    button {
      font-weight: bold;
    }
  }
}
