%h1 Donation Received!

The campaign for
%i=@book.administrative_title
by #{h @author.full_name}
has received a donation in the amount of #{h number_to_currency(@donation.amount)}.

%p
  =link_to 'Click here', admin_campaign_url(@donation.campaign_id)
  to see the progress of the campaign.
