=content_for :title_bar do
  Contact us

.container
  .row
    .col-md-5.col-md-offset-1
      %p &nbsp;
      %p
        We thought we included all you would need to know, but just maybe we weren’t
        able to answer your question. If so, please let us know how we can help you.

      =form_for(@inquiry) do |f|
        .form-group
          =f.label :first_name, class: 'control-label'
          =f.text_field :first_name, class: 'form-control'
        .form-group
          =f.label :last_name, class: 'control-label'
          =f.text_field :last_name, class: 'form-control'
        .form-group
          =f.label :email, class: 'control-label'
          =f.email_field :email, class: 'form-control'
        .form-group
          =f.label :body, 'How can we help?', class: 'control-label'
          =f.text_area :body, class: 'form-control'
        .form-group
          =f.submit 'Submit', class: 'btn btn-primary'
    .col-md-4.col-md-offset-1
      =image_tag 'driver.jpg'
