New author
:plain

A new author has signed up at CrowdScribed.com
:plain

=@author.full_name
-if @author.phone_number && @author.contactable?
  =@author.phone_number
:plain

Follow the link below to administer new authors
=new_administrator_session_url

