!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CrowdScribe
    %link{ rel: 'icon', type: 'image/png', href: asset_path('crowdscribed_logo_cropped.png') }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    :javascript
      $(function() {
        $('.date-field').datepicker();
      });
  %body
    =render 'shared/navigation'
    #main_content
      -if content_for? :page_title
        #page-title.title-bar
          .container
            =yield :page_title

      =render 'flash' if flash.any? || flash_test?

      =yield

    %footer
      .container
        .row
          .col-md-12
            %ul.footer-menu
              %li=link_to 'Contact us', new_inquiry_path
              %li Crowdscribed 2014
              %li All Rights Reserved
